<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 공통 헤더 -->
<th:block th:include="/../fragments/header.html"></th:block>
<style>
  .breadcrumb-main{
  float: left;
  }
  table {
    border-top: 1px solid grey;
    
    border-collapse: collapse;
  }
  th, td {
  	border-bottom: 2px solid #E5E9F2;
    padding: 10px;
    text-align: center;
    font-weight: initial;
  }
  th {
    background-color: white;
  }
  tbody tr:nth-child(2n) {
    background-color: white;
  }
  tbody tr:nth-child(2n+1) {
    background-color: #F4F8FB;
  }
  button{ 
   width: 101px;
   height: 40px;
   }
   .page-numder{
   	width:80px;
   	height: 35px;
   	
   }
   .atbd-button-list{
   margin:0 5px;
   }
   .end-button{
   width:150px;
   height:45px;
   background-color:#768BF5;
   border:0px;
   margin-top:-15px;
   }
   .end{
   margin-left:10px;
   }
   .page-item a{
    color:#7C8798;
   }
   .page-item.active{
   background:none;
   color: #768BF5;
   }
   .atbd-pagination__link{
   width: 30px;
   height: 10px;
   }
</style>
</head>
<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	<div class="mobile-author-actions"></div>
	<!-- 공통 topbar -->
	<th:block th:include="/../fragments/topbar.html"></th:block>
	<main class="main-content" style="background-color: #F9FBFD;">
		<div class="contents" style="background-color: #F9FBFD;">
		    <div class="container-fluid">
		    	<div class="row">
			        <div class="col-lg-12">
			        	<div class="breadcrumb-main">
			        		<h4 class="text-capitalize breadcrumb-title">계획수립</h4>
			        		<span class="ml-20 mt-1">재배관리-계획수립</span>
			        	</div>
			        </div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-12 mb-30">
		        		<div class="card">
		       				<div class="card-extra mt-20 mr-20">
		       					<div class="d-flex justify-content-start" style="float: left;">
		       						<span class="ml-30 mt-20 mr-10">show</span>
		    						<select class="form-control form-control-lg mt-15 mr-10 page-numder" id="limit" name="page-number">
		                          		<option value="10">10</option>
		                          		<option value="20">20</option>
		                          		<option value="30">30</option>
		                      		</select>
		                      		<span class="ml-1 mt-20">entries</span>
		       					</div>
		       					<!-- 버튼 등록하는 곳 -->
		       					<div class="action-btn d-flex justify-content-end">
				      				<div class="atbd-button-list d-flex flex-wrap">
				      					<div class="d-flex align-items-center add-contact__form my-sm-0 my-2">
				                            <select class="form-control form-control-lg mt-10 mb-10 mr-10" id="search_type" style="width: 238px;height:40px;">
				                                <option value="p.plan_code">생육조사 ID</option>
				                                <option value="r.report_title">과제명</option>
				                                <option value="s.storage_name">포장</option>
				                                <option value="m.method_title">조사항목</option>
				                                <option value="p.plan_repeat">반복수</option>
				                                <option value="p.plan_segment">처리수</option>
				                            </select>
				                            <div class="input-container icon-right position-relative mr-10">
			                                    <a href="#" onclick="SearchPlan(1); return false;" class="input-icon icon-right"><span data-feather="search"></span></a>
			                                    <input type="text" class="form-control form-control-lg" id="keyword" placeholder="Search" style="width: 238px;height:40px;">
			                                </div>
				      					</div>
				      					<button class="btn btn-primary" style="margin:10px 0 0 0">CSV<span data-feather="download"style="margin:0;"></span></button>
				      				</div>
			      				</div>
		       				</div>
		        			<div class="card-body">
		        				<div class="bg-white">
		                        	<div class="table-responsive">
		                            	<table class="table">
		                            		<thead>
		                            			<tr>
		                            				<th></th>
		                            				<th>생육조사 ID</th>
		                            				<th>과제명</th>
		                            				<th>포장</th>
		                            				<th>조사항목</th>
		                            				<th>반복수</th>
		                            				<th>처리수</th>
		                            				<th>포장QR</th>
		                            				<th>과제QR</th>
		                            				<th>상태</th>
		                            				<th>등록일</th>
		                            			</tr>
		                            		</thead>
		                            		<tbody id="plan_list">
		                            			
		                            		</tbody>
		                            	</table>
		                        	</div>
		                        	<div class="row">
		                        		<div class="col-4">
		                        			
				                        </div>
				                        <div class="col-4">
				                        	<div class="row" style="justify-content: center;">
					                        	<div id="pageNum" style="text-align:center; margin: 2% 0 0 0;"></div>
				                        	</div>
				                        </div>
				                        <div class="col-4">
				                        	<div class="action-btn d-flex justify-content-end mt-30">
			                                    <a href="/plan/insert" class="btn btn-primary end-button end">등록</a>
			                                </div>
				                        </div>
		                        	</div>
		                        </div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		    </div>
    	</div>
    </main>
    <!-- 공통 하단 -->
    <th:block th:include="/../fragments/footer.html"></th:block>
    <!-- 공통 js -->
    <th:block th:include="/../fragments/commonjs.html"></th:block>
</body>
<script type="text/javascript">
$(document).ready(function()
		{
			SearchPlan(1);
		});
		
		//페이지 보기 변경시 시약 검색 실행
		$("#limit").on("change", function(){
			SearchPlan(1);
		});

		function SearchPlan(e){
			var limit = $("#limit").val();
			var search_type = $("#search_type").val();
			var keyword = $("#keyword").val();
			
			var data = {"search_type" : search_type, "keyword" : keyword, "page_num" : e, "limit" : limit};
			
			$.ajax({
				url : '/plan/searchPlan',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result){
					
					var plan_list = $("#plan_list");
					var add_list = "";
					
					var pageNum = $("#pageNum");
					var page_add = "";
					
					var length = result.plan.length;
					
					if(length == 0){
						add_list = '<tr>' + '<td colspan="11">' + '<span>' + '등록된 데이터가 없습니다.' + '</span>' + '</td>' + '</tr>';
						
						plan_list.empty();
						plan_list.append(add_list);
					}else {
						
						for(var i = 0; i < length; i++){
							
							add_list += '<tr>';
							add_list += '<td><input type="checkbox"></td>';
							add_list += '<td><a href="/plan/modify?plan_id='+ result.plan[i].plan_id + '">' + result.plan[i].plan_code + '</a></td>';
							add_list += '<td><span>' + result.plan[i].report_title + '</span></td>';
							add_list += '<td><span>' + result.plan[i].storage_name + '</span></td>';
							add_list += '<td><span>' + result.plan[i].method_title + '</span></td>';
							add_list += '<td><span>' + result.plan[i].plan_repeat + '</span></td>';
							add_list += '<td><span>' + result.plan[i].plan_segment + '</span></td>';
							add_list += '<td><span>' + result.plan[i].qr1 + '</span></td>';
							add_list += '<td><span>' + result.plan[i].qr2 + '</span></td>';
							if(result.plan[i].plan_status == 0){
								add_list += '<td><span>승인요청</span></td>';
							}else if(result.plan[i].plan_status == 1){
								add_list += '<td><span>수정요청</span></td>';
							}else if(result.plan[i].plan_status == 2){
								add_list += '<td><span>승인</span></td>';
							}
							add_list += '<td><span>' + result.plan[i].create_date + '</span></td>';
							add_list += '</tr>';
						}//end for
						
						if(result.page_num == 1){
							page_add += '<button class="atbd-pagination__link pagination-control"><span class="la la-angle-left"></span></button>';
						}else{
							page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchPlan(' + (result.page_num - 1) + ')"><span class="la la-angle-left"></span></button>';
						}//end else
						
						for(var i = 0; i < result.end_page; i++){
							if(result.page_num == (i + 1)){
								page_add += '<button class="atbd-pagination__link active" onclick="SearchPlan(' + (i + 1) + ')">' + (i + 1) + '</button>';
							}else{
								page_add += '<button class="atbd-pagination__link" onclick="SearchPlan(' + (i + 1) + ')">' + (i + 1) + '</button>';
							}//end else
						}//end for
						
						if(result.page_num == result.end_page){
							page_add += '<button class="atbd-pagination__link pagination-control"><span class="la la-angle-right"></span></button>';
						}else{
							page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchPlan(' + (result.page_num + 1) + ')"><span class="la la-angle-right"></span></button>';
						}//end else
						
						plan_list.empty();
						plan_list.append(add_list);
						
						pageNum.empty();
						pageNum.append(page_add);
							
						
					}//end else
					
					
				}
			});
			return true;
		}//end 시약 검색
</script>
</html>