<!DOCTYPE html>
<html lang="en" dir="ltr"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- 공통 헤더 -->
<th:block th:include="@{/fragments/header.html}"></th:block>
<link rel="stylesheet" th:href="@{/assets/vendor_assets/css/plan-insert.css}">

</head>
<body class="layout-light top-menu overlayScroll">
     
	<div class="mobile-search"></div>
	
	<div class="mobile-author-actions"></div>
	
	<!-- 공통 topbar -->
	<th:block th:include="@{/fragments/topbar.html}"></th:block>
	
	<main class="main-content" style="background-color: #F9FBFD;">
		
		<div class="contents" style="background-color: #F9FBFD;">
			
			<div class="container-fluid">
				 <div class="pop"> <!-- pop1  --> 
			        <div class="pop_inner">
			            <h6>포장 신규</h6>
			            <span class="close" onclick="return closeFunction(0);"></span> <!-- buttonFunctions -->
			            <div class="box box-1">
			                <span>주소</span>
			                <input type="text" name="">
			            </div>
			            <div class="box box-2">
			                <ul>
			                    <li><span>포장번호</span><input type="text" name=""></li>
			                    <li><span>면적</span><input type="text" name=""></li>
			                </ul>
			            </div>
			            <div class="box box-3">
			                <span>위치</span>
			                <img src="../img/icons/step1.png" alt="map">
			            </div>
			            <div class="input_submit">
			                <button onclick="closeFunction(0);">저장</button>
			            </div>
			        </div>
			    </div>
    
			    <div class="pop"> <!-- pop2 -->
			        <div class="pop_inner" style="max-width: 600px">
			            <h6>담당자 및 일정 변경</h6>
			            <span class="close" onclick="return closeFunction(1);"></span> <!-- buttonFunctions -->
			            <div class="box box-1">
			                <span><span class="red">*</span>담당자(정)</span>
			                <select>
			                    <option>담당자 선택</option>
			                    <option>담당자 선택</option>
			                    <option>담당자 선택</option>
			                    <option>담당자 선택</option>
			                </select>
			            </div>
			            <div class="box box-2">
			                <span>담당자(부)</span>
			                <select>
			                    <option>담당자 선택</option>
			                    <option>담당자 선택</option>
			                    <option>담당자 선택</option>
			                    <option>담당자 선택</option>
			                </select>
			            </div>
			            <div class="box box-3">
			                <span style="float: left;">일정등록</span>
			                <input type="text" name="" class="regdate">
			                <div class="cal">
			                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
			                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
			                    </svg>
			                </div>
			            </div>
			            <div class="input_submit">
			                <button onclick="closeFunction(1);">저장</button>
			            </div>
			        </div>
			    </div>
			    <!-- popup background -->
			    <div class="dim"></div>
			    <div class="wrapper clearfix">
			        <section id="section">
			            <div class="step" id="step1">
			                <div class="step_inner clearfix" id="step1_inner">
			                    <div class="title">
			                        <h3>Step 1. 포장선택<span></span></h3>
			                    </div>
			                    <div class="content clearfix">
			                        <div class="btn_ver">
			                            <button onclick="return registration(0);">신규등록</button>
			                        </div>
			                        <div class="btn btn_new">
			                            
			                            <table id="table1">
			                                <thead>
			                                <tr class="title">
			                                    <th>위치 ID</th>
			                                    <th>주소</th>
			                                    <th>포장번호</th>
			                                    <th>면적(㎡)</th>
			                                </tr>
			                                </thead>
			                                <tr class="table_content">
			                                    <td>1</td>
			                                    <td class="ad"><a href="">경기도 수원시 권선구 서호로 54</a></td>
			                                    <td>작물A-1</td>
			                                    <td>2</td>
			                                </tr>
			                            </table>
			                        </div>
			                        <div class="content_right">
			                            <div class="img_inner">
			                                <h6>* 위치 ID 클릭 시 해당 포장 표시</h6>
			                                <img src="../img/icons/step1.png" alt="지도">
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="step" id="step2">
			                <div class="step_inner clearfix" id="step2_inner">
			                    <div class="title">
			                        <h3>Step 2. 과제 선택<span></span></h3>
			                    </div>
			                    <div class="content clearfix">
			                        <div class="btn btn_select1">
			                            <select class="form-control b-light department" id="select_view1" name="">
			                                <option value="">2021 - (PJ015744012021) "콩 불마름병, 역병 저항성 품종 개발을 위한 플랫폼 구축"</option>
			                                <option value="">1</option>
			                            </select>
			                            <div class="submit clearfix">
			                                <button>다음</button>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="step" id="step3">
			                <div class="step_inner clearfix" id="step3_inner">
			                    <div class="title">
			                        <h3>Step 3. 시험구배치<span></span></h3>
			                    </div>
			                    <div class="content clearfix">
			                        <span class="title">시험구배치 종류</span>
			                        <div class="btn btn2">
			                            <select id="select_view2" class="select_view" name="">
			                                <option value="완전임의배치">완전임의배치</option>
			                                <option value="난괴법">난괴법</option>
			                                <option value="분할구배치법">분할구배치법</option>
			                                <option value="세세구배치법">세세구배치법</option>
			                            </select>
			                        </div>
			                        <ul class="select_list clearfix"> <!-- select list -->
			                            <li class="btn sub_btn">
			                                <span class="sub_title">요인1</span>
			                                <select id="select_view2" class="select_view" name="">
			                                    <option value="완전임의배치">완전임의배치</option>
			                                    <option value="난괴법">난괴법</option>
			                                    <option value="분할구배치법">분할구배치법</option>
			                                    <option value="세세구배치법">세세구배치법</option>
			                                </select>
			                                <div class="btn_button">
			                                    <button class="setting">설정</button>
			                                </div>
			                                <div class="choi_select">
			                                    <div class="text_inner"></div>
			                                </div>
			                            </li>
			                            <li class="btn sub_btn">
			                                <span class="sub_title">요인2</span>
			                                <select id="select_view2" class="select_view" name="">
			                                    <option value="완전임의배치">완전임의배치</option>
			                                    <option value="난괴법">난괴법</option>
			                                    <option value="분할구배치법">분할구배치법</option>
			                                    <option value="세세구배치법">세세구배치법</option>
			                                </select>
			                                <div class="btn_button">
			                                    <button class="setting">설정</button>
			                                </div>
			                                <div class="choi_select">
			                                    <div class="text_inner"></div>
			                                </div>
			                            </li>
			                            <li class="btn sub_btn">
			                                <span class="sub_title">요인3</span>
			                                <select id="select_view2" class="select_view" name="">
			                                    <option value="완전임의배치">완전임의배치</option>
			                                    <option value="난괴법">난괴법</option>
			                                    <option value="분할구배치법">분할구배치법</option>
			                                    <option value="세세구배치법">세세구배치법</option>
			                                </select>
			                                <div class="btn_button">
			                                    <button class="setting">설정</button>
			                                </div>
			                                <div class="choi_select">
			                                    <div class="text_inner"></div>
			                                </div>
			                            </li>
			                        </ul>
			                        <div class="repeat">
			                            <h6><span class="red" style="color: #FF4141">*</span>반복</h6>
			                            <input type="text" value="1">
			                        </div>
			                        <div class="submit clearfix">
			                            <button>다음</button>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="step" id="step4">
			                <div class="step_inner clearfix" id="step4_inner">
			                    <div class="title">
			                        <h3>Step 4. 구획 설정<span></span></h3>
			                    </div>
			                    <div class="content clearfix">
			                        <div class="btn btn_new">
			                            <table id="table2">
			                                <thead>
			                                <tr class="title">
			                                    <th></th>
			                                    <th>구획번호</th>
			                                    <th>구획ID</th>
			                                    <th>처리종류</th>
			                                    <th>반복</th>
			                                    <th>처리포장면적(㎡)</th>
			                                </tr>
			                                </thead>
			                                <tr class="table_content">
			                                    <td class="pointers"><img src="../img/icons/araw.png" alt="pointer"></td>
			                                    <td>1</td>
			                                    <td>A1-B1-1</td>
			                                    <td>콩 (williams),K1(기타)</td>
			                                    <td>1</td>
			                                    <td><input type="text" id="mil" value="0"></td>
			                                </tr>
			                                <tr class="table_content">
			                                    <td class="pointers"><img src="../img/icons/araw.png" alt="pointer"></td>
			                                    <td>1</td>
			                                    <td>A1-B1-1</td>
			                                    <td>콩 (williams),K1(기타)</td>
			                                    <td>1</td>
			                                    <td><input type="text" id="mil" value="0"></td>
			                                </tr>
			                            </table>
			                        </div>
			                        <div class="content_right">
			                            <div class="img_inner">
			                                <div class="top_btn-left">
			                                    <h6><span class="red" style="color: #FF4141">*</span>열의 갯수</h6>
			                                    <input type="text" value="0" id="mil2" style="border-radius: 5px 0 0 5px; width: 40%; margin-left: 10px;">
			                                    <button style="height: 33px; border-radius: 0 5px 5px 0; ">적용</button>
			                                </div>
			                                <div class="top_btn-right clearfix">
			                                    <ul>
			                                        <li><button>요인 랜덤화</button></li>
			                                        <li><button>수준 랜덤화</button></li>
			                                    </ul>
			                                </div>
			                                <div class="background-content">
			                                    <ul>
			                                        <li><a href="">A1-B1-1</a>
			                                            <div class="arrowMove">
			                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-move" viewBox="0 0 16 16">
			                                                  <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
			                                                </svg>
			                                            </div>
			                                        </li>
			                                        <li><a href="">A1-B1-1</a>
			                                            <div class="refresh">
			                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
			                                                  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
			                                                  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
			                                                </svg>
			                                            </div>
			                                        </li>
			                                        <li><a href="">A1-B1-1</a>
			                                            <div class="arrowMove">
			                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrows-move" viewBox="0 0 16 16">
			                                                  <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708l2-2zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10zM.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8z"/>
			                                                </svg>
			                                            </div>
			                                        </li>
			                                        <li><a href="">A1-B1-1</a>
			                                            <div class="refresh">
			                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
			                                                  <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
			                                                  <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
			                                                </svg>
			                                            </div>
			                                        </li>
			                                    </ul>
			                                    
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="step" id="step5">
			                <div class="step_inner clearfix" id="step5_inner">
			                    <div class="title">
			                        <h3>Step 5. 조사 항목 선택<span></span></h3>
			                    </div>
			                    <div class="content clearfix">
			                        <!--<input type="search" name="" class="searchs" placeholder="조사 항목명, Method ID" style="width: 45%; border-right: none; border-radius: 25px 0 0 25px; float: left; padding: 10px">-->
			                        <input type="text" name="" class="searchs" placeholder="조사 항목명, Method ID" style="width: 45%; border-right: none; border-radius: 25px 0 0 25px; float: left; padding: 8px">
			                        <div class="search_btn">
			                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
			                              <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			                            </svg>
			                        </div>
			                        <div class="btn btn_new"  style="border-radius: 5px; border: 1px solid #d9d9d9;padding: 0; margin-top: 10px">
			                            <table id="table3">
			                                <thead>
			                                <tr class="title">
			                                    <th></th>
			                                    <th>분류</th>
			                                    <th>조사항목</th>
			                                    <th>Method 명</th>
			                                    <th>Method 설명</th>
			                                </tr>
			                                </thead>
			                                <tr class="table_content">
			                                    <td><input type="checkbox" name=""></td>
			                                    <td>1</td>
			                                    <td>A1-B1-1</td>
			                                    <td>콩 (williams),K1(기타)</td>
			                                    <td>1</td>
			                                </tr>
			                            </table>
			                        </div>
			                        <div class="content_right">
			                            <div class="img_inner">
			                                <div class="background-content">
			                                    <div class="back_inner">
			                                        <span style="display: none">선택 항목을 추가해주세요.</span>
			                                    </div>
			                                    <table id="table4">
			                                        <thead>
			                                            <tr>
			                                                <th><a><img src="../img/icons/araw.png" alt="arrow"></a></th>
			                                                <th>분류</th>
			                                                <th>조사 항목</th>
			                                                <th>작목</th>
			                                                <th>Method 명</th>
			                                                <th>Method 설명</th>
			                                            </tr>
			                                        </thead>
			                                        <tbody>
			                                            <tr>
			                                                <td><span class="lines"></span></td>
			                                                <td>재배</td>
			                                                <td>최초 꼬투리가 달리는 높이</td>
			                                                <td>참깨</td>
			                                                <td>최초 꼬투리가 달리는 높이</td>
			                                                <td>최초 꼬투리가 달리는 높이</td>
			                                            </tr>
			                                        </tbody>
			                                    </table>
			                                </div>
			                            </div>
			                        </div>
			                        <div class="submit clearfix">
			                            <button>다음</button>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="step" id="step6">
			                <div class="step_inner clearfix" id="step6_inner">
			                    <div class="title">
			                        <h3>Step 6. 담당자 및 일정<span></span></h3>
			                    </div>
			                    <div class="content clearfix">
			                        <div class="top1">
			                            <span class="title_sub">[조사항목:쌀단백질]</span>
			                            <ul>
			                                <li>
			                                    <span><span class="red" style="color: #FF4141">*</span>담당자(정)</span>
			                                    <select>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                    </select>
			                                </li>
			                                <li>
			                                    <span>담당자(부)</span>
			                                    <select>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                    </select>
			                                </li>
			                                <li>
			                                    <span style="float: left;">일정등록</span>
			                                    <input type="text" name="">
			                                    <div class="cal">
			                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
			                                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
			                                        </svg>
			                                    </div>
			                                </li>
			                            </ul>
			                            <div class="btn">
			                                <button>추가</button>
			                            </div>
			                            
			                        </div>
			                        <div class="top2">
			                            <table>
			                                <thead>
			                                    <tr>
			                                        <th>No.</th>
			                                        <th>담당자(정)</th>
			                                        <th>담당자(부)</th>
			                                        <th>일정</th>
			                                        <th></th>
			                                    </tr>
			                                </thead>
			                                <tbody>
			                                    <tr>
			                                        <td>1</td>
			                                        <td>담당자</td>
			                                        <td>담당자</td>
			                                        <td>2021.00.00</td>
			                                        <td><button onclick="registration(1)">변경</button></td>
			                                    </tr>
			                                    <tr>
			                                        <td>1</td>
			                                        <td>담당자</td>
			                                        <td>담당자</td>
			                                        <td>2021.00.00</td>
			                                        <td><button onclick="registration(1)">변경</button></td>
			                                    </tr>
			                                </tbody>
			                            </table>
			                        </div>
			                        <div class="top3">
			                            <span class="title_sub">[조사항목:치환성칼륨]</span>
			                             <ul>
			                                <li>
			                                    <span>담당자(정)</span>
			                                    <select>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                    </select>
			                                </li>
			                                <li>
			                                    <span>담당자(부)</span>
			                                    <select>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                        <option>담당자 선택</option>
			                                    </select>
			                                </li>
			                                <li>
			                                    <span style="float: left;">일정등록</span>
			                                    <input type="text" name="">
			                                    <div class="cal">
			                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar" viewBox="0 0 16 16">
			                                          <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
			                                        </svg>
			                                    </div>
			                                </li>
			                            </ul>
			                            <div class="btn">
			                                <button>추가</button>
			                            </div>
			                        </div>
			                        <div class="top4">
			                            <table>
			                                <thead>
			                                    <tr>
			                                        <th>No.</th>
			                                        <th>담당자(정)</th>
			                                        <th>담당자(부)</th>
			                                        <th>일정</th>
			                                        <th></th>
			                                    </tr>
			                                </thead>
			                                <tbody>
			                                    <tr>
			                                        <td>1</td>
			                                        <td>담당자</td>
			                                        <td>담당자</td>
			                                        <td>2021.00.00</td>
			                                        <td><button onclick="registration(1)">변경</button></td>
			                                    </tr>
			                                    <tr>
			                                        <td>1</td>
			                                        <td>담당자</td>
			                                        <td>담당자</td>
			                                        <td>2021.00.00</td>
			                                        <td><button onclick="registration(1)">변경</button></td>
			                                    </tr>
			                                </tbody>
			                            </table>
			                        </div>
			                    </div>
			                </div>
			            </div>
			            <div class="submit_btn">
			                <div class="submit_btn-inner">
			                    <button class="list" id="listBtn">목록</button>
			                    <button class="submit">등록</button>
			                </div>
			            </div>
			        </section>
			    </div>
			</div>
			
		</div>
		
	</main>
	
	 <!-- 공통 하단 -->
    <th:block th:include="@{/fragments/footer.html}"></th:block>
    <!-- 공통 js -->
    <th:block th:include="@{/fragments/commonjs.html}"></th:block>
    <script th:src="@{/assets/vendor_assets/js/plan-insert.js}"></script>

<script>

	$("#listBtn").on("click", function(){
		window.location.href = "/plan/list";
	});

</script>

</body>    
</html>