<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	.content-header{margin-top:30px;}
	.end-button
	{
		width:85px;
		height:40px;
		background-color:#768BF5;
		border:0px;
		margin-top:-15px;
	}
	.end{margin-left:10px;}
	.select-hide{
		display: none;
	}
	.select-show{
		display: block;
	    position: absolute;
	    z-index :10;
	    top: 60px;
	    width: 97.5%;
	    background-color: white;
	    border:1px solid;
	    border-radius: 5px;
	    cursor: pointer;
	    overflow-y: auto;
	    height: 150px;
	}

	.select .select-show li{
	    padding:0 0 0 5px;
	    line-height: 30px;
	}
	[id *="_popup"]{
		width:100vw; 
		height:90vh; 
		position:fixed; 
		left:0px; 
		top:0px; 
		display:none; 
		justify-content: center; 
		align-items:center; 
		z-index: 999999;
	}
	[id *="_popup"] > .card.card-default.card-md.mb-4{
		border:1px solid #eee;
		width:400px;
		max-width: 400px;
	}
</style>
<!-- 공통 헤더 -->
<th:block th:include="/../fragments/header.html"></th:block>
</head>
<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	<div class="mobile-author-actions"></div>
	<!-- 공통 topbar -->
	<th:block th:include="/../fragments/topbar.html"></th:block>
	<main class="main-content" style="background-color: #F9FBFD;">
		<div class="contents" style="background-color: #F9FBFD;">
		    <div class="container-fluid" style="padding: 0 50px;">
		    	<div class="row">
			        <div class="col-lg-12" style="padding: 0 17px;">
			        	<div class="breadcrumb-main" style="float: left; padding:0">
			        		<h4 class="text-capitalize breadcrumb-title">조사방법</h4>
			        		<span class="ml-20 mt-1">기초정보 - 조사방법</span>
			        	</div>
			        </div>
		        </div>
		    	<div class="row" style="display: flex;justify-content: center;">
			        <div class="col-12">
			        	<div class="card card-Vertical">
			        		<div class="card-body">
			        				<div class="row">
				        				<div class="col-md-6 mb-25">
		                                    <label for="division_depth1" class="color-dark fw-500">대상작목</label>
		                                    <div class="select" style="height: auto;">
			                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="division_depth1" placeholder="대상 작목 선택" autocomplete="off">
			                            		<ul class="select-hide">
			                            			<th:block th:each="d1 : ${d1}">
			                            				<li class="division_depth1_list" onclick="selectOpt(this);"><span th:data-value="${d1.division_id}" th:text="${d1.division}"></span></li>
			                            			</th:block>
			                            		</ul>
			                            	</div>
		                                    <!-- <select class="form-control b-light" id="division_depth1">
				                                <option value="0">대상 작목 선택</option>
				                                <th:block th:each="d1 : ${d1}">
					                                <option th:value="${d1.division_id}" th:text="${d1.division}" th:selected="${d1.division_id == research.d1_id}"></option>
				                                </th:block>
				                            </select> -->
		                                </div>
		                                <div class="col-md-6 mb-25">
		                                    <label for="division_depth2" class="color-dark fw-500">분류</label>
		                                    <div class="select" style="height: auto;">
			                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="division_depth2" placeholder="분류 선택" autocomplete="off">
			                            		<ul class="select-hide">
			                            			<th:block th:each="d2 : ${d2}">
			                            				<li class="division_depth2_list" onclick="selectOpt(this);"><span th:data-value="${d2.division_id}" th:text="${d2.division}"></span></li>
			                            			</th:block>
			                            		</ul>
			                            	</div>
		                                    <!-- <select class="form-control b-light" id="division_depth2">
				                                <option value="0">분류 선택</option>
				                                <th:block th:each="d2 : ${d2}">
					                                <option th:value="${d2.division_id}" th:text="${d2.division}" th:selected="${d2.division_id == research.d2_id}"></option>
				                                </th:block>
				                            </select> -->
		                                </div>
		                            </div>
		                            <div class="row">
				        				<div class="col-md-6 mb-25">
		                                    <label for="division_depth3" class="color-dark fw-500">항목</label>
		                                    <div class="select" style="height: auto;">
			                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="division_depth3" placeholder="항목 선택" autocomplete="off">
			                            		<ul class="select-hide">
			                            			<th:block th:each="d3 : ${d3}">
			                            				<li class="division_depth3_list" onclick="selectOpt(this);"><span th:data-value="${d3.division_id}" th:text="${d3.division}"></span></li>
			                            			</th:block>
			                            		</ul>
			                            	</div>
		                                    <!-- <select class="form-control b-light" id="division_depth3">
				                                <option value="0">항목 선택</option>
				                                <th:block th:each="d3 : ${d3}">
					                                <option th:value="${d3.division_id}" th:text="${d3.division}" th:selected="${d3.division_id == research.d3_id}"></option>
				                                </th:block>
				                            </select> -->
		                                </div>
		                                <div class="col-md-6 mb-25">
		                                    <label for="research_contents" class="color-dark fw-500"><span class="red">*</span>조사방법</label>
		                                    <input type="text" class="form-control b-deep" id="research_contents" th:value="${research.research_contents}">
		                                </div>
		                            </div>
			        		</div>
			        	</div>
		                <input type="hidden" id="research_id" th:value="${research.research_id}">
			        </div>
		        </div>
				<div class="row">
					<div class="col-4">
						<div class="action-btn d-flex justify-content-frist mt-30"></div>
					</div>
					<div class="col-4">
						<div class="d-flex justify-content-center mt-30"></div>
					</div>
					<div class="col-4">
						<div class="action-btn d-flex justify-content-end mt-30">
							<a href="/data/research" class="btn btn-primary end-button end">목록</a>
							<button type="button" class="btn btn-default btn-danger end-button end" onclick="DeleteBtn();">삭제</button>
		                	<button type="button" class="btn btn-default btn-primary end-button end" onclick="UpdateBtn();">수정</button>
						</div>
					</div>
				</div>
		        <div class="atbd-notice" id="success_popup">
		        	<div class="card card-default card-md mb-4">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-success">
		        						<i class="fas fa-check color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>완료되었습니다.</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<a class="btn btn-default btn-success" href="/data/research" style="color: #FFFFFF;">확인</a>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        <div class="atbd-notice" id="update_popup">
		        	<div class="card card-default card-md mb-4">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-info">
		        						<i class="fas fa-exclamation color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>수정하시겠습니까?</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<button class="btn btn-default btn-primary mr-10" onclick="UpdateResearch();" style="color: #FFFFFF;">수정</button>
		        						<button class="btn btn-default btn-danger" onclick="CancelBtn();" style="color: #FFFFFF;">취소</button>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        <div class="atbd-notice" id="delete_popup">
		        	<div class="card card-default card-md mb-4">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-danger">
		        						<i class="fas fa-exclamation-triangle color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>삭제하시겠습니까?</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<button class="btn btn-default btn-primary mr-10" onclick="DeleteResearch();" style="color: #FFFFFF;">삭제</button>
		        						<button class="btn btn-default btn-danger" onclick="CancelBtn();" style="color: #FFFFFF;">취소</button>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        
		    </div>
    	</div>
    </main>
    <!-- 공통 하단 -->
    <th:block th:include="/../fragments/footer.html"></th:block>
    <!-- 공통 js -->
    <th:block th:include="/../fragments/commonjs.html"></th:block>
<script type="text/javascript" th:inline="javascript">
	
	var research = /*[[${research}]]*/ "null";
	
	//select 박스 기존 데이터 노출
	function loadSelectData(){
		$("#division_depth1").attr("data-select", research.d1_id);
		$("#division_depth1").attr("value", research.d1);
		
		$("#division_depth2").attr("data-select", research.d2_id);
		$("#division_depth2").attr("value", research.d2);
		
		$("#division_depth3").attr("data-select", research.d3_id);
		$("#division_depth3").attr("value", research.d3);
	}
	
	loadSelectData();
	
	let selectInputEls = document.querySelectorAll('input[name="select-input"]');
	let select_this;
	let select_prev;
	let select_id;
	
	function selection(){
		if(document.getSelection){
			var selection = document.getSelection();
			
			if(selection.focusNode != null){
				if(selection.focusNode.children != undefined){
					var length = selection.focusNode.children.length;
					if(length != 0){
						var check = selection.focusNode.children[0].name;
						var check2 = selection.focusOffset;
						if(check == "select-input" && check2 == "1"){
							selectFilter(selection.focusNode.children[0]);
						}
					}
				}
			}
			
		}
	}
	
	function selectFilter(e){
		
		var selection = document.getSelection();
		
		select_prev = select_this;
		select_this = e;
		select_id = e.id;
		
		let selectOptionWrapEls = document.querySelectorAll('.select ul');
		
		var currTarget = e;
		var delOption = currTarget.nextElementSibling;
		
		for(var i = 0 ; i < selectOptionWrapEls.length; i++){
			
			if(selectOptionWrapEls[i].classList.contains("select-show")){
				selectOptionWrapEls[i].classList.add('select-hide');
				selectOptionWrapEls[i].classList.remove('select-show');
			}
		}
		
		if(delOption.classList.contains('select-hide')){
			delOption.classList.remove('select-hide');
			delOption.classList.add('select-show');
		}
		
	}
	
	let body = document.querySelector('body');
	function hideSelect(e){
		
		let selectOptionWrapEls = document.querySelectorAll('.select ul');
		var target = e.target.name;
		
		if(target == "select-input"){
			if(select_prev != undefined && select_this != select_prev){
				var prev_attr = select_prev.getAttribute("value");
				var prev_text = select_prev.value;
				if(prev_attr != prev_text){
					select_prev.value = prev_attr;
					var prev_textEl = select_prev.parentNode.children[1].children;
					
					for(var i = 0; i < prev_textEl.length; i++){
						prev_textEl[i].style.display = "flex";
					}
					
					var textEl = select_this.parentNode.children[1].children;
					
					for(var i = 0; i < textEl.length; i++){
						textEl[i].style.display = "flex";
					}
				}
			}
		}
		
		if(target != "select-input"){
			if(select_this != undefined && select_this.value != null){
				var select_attr = select_this.getAttribute("value");
				var select_text = select_this.value;
				
				if(select_attr != select_text && select_this.id == select_id){
					select_this.value = select_attr;
					
					var textEl = select_this.parentNode.children[1].children;
					
					for(var i = 0; i < textEl.length; i++){
						textEl[i].style.display = "flex";
					}
				}
			}
			
			for(var i = 0 ; i < selectOptionWrapEls.length; i++){
				
				if(selectOptionWrapEls[i].classList.contains("select-show")){
					selectOptionWrapEls[i].classList.add('select-hide');
					selectOptionWrapEls[i].classList.remove('select-show');
				}
			}
		}
	}
	body.addEventListener('click',hideSelect);
	body.addEventListener('click', selection);
	
	/* 옵션선택 */
	function selectOpt(e){
	    var dataSelect = $(e).children().attr("data-value");
	    var text = $(e).children().text();
	    $(e).parent().prev().attr("data-select", dataSelect);
	    $(e).parent().prev().attr("value", text);
	    $(e).parent().attr("class", "select-hide");
	    
	    var divisionEl_id = e.parentNode.previousElementSibling.id.slice(0, 14);
	   
	    if(divisionEl_id == "division_depth"){
	    	 var departEl = e.parentNode.previousElementSibling;
	    	 var division_id = dataSelect;
	 		 var division_depth = e.parentNode.previousElementSibling.id.slice(14, 15);
			
	 		var data = {"division_id" : division_id, "division_depth" : division_depth};
        	
        	$.ajax(
			{
				url : 'selectDivision',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result)
				{
					var depth = (division_depth * 1) + 1;
					var depth_list = $("#division_depth" + depth).next();
					var add_list = "";
					
					if(division_depth == "1"){
						$("#division_depth2").attr("data-select", "");
						$("#division_depth2").attr("value", "");
    					$("#division_depth2").val("");
    					
    					$("#division_depth3").attr("data-select", "");
    					$("#division_depth3").attr("value", "");
    					$("#division_depth3").val("");
					}else if(division_depth == "2"){
						$("#division_depth3").attr("data-select", "");
						$("#division_depth3").attr("value", "");
    					$("#division_depth3").val("");
					}
					
					for(var i = 0; i < result.length; i++)
					{
						add_list += '<li class="division_depth'+depth+'_list" onclick="selectOpt(this);">';
						add_list += '<span data-value="'+result[i].division_id+'">'+result[i].division+'</span>';
						add_list += '</li>';
					}
					
					depth_list.empty();
					depth_list.append(add_list);
				}
			});
	 		 
	    }//end if
	}//end 옵션 선택
	
	//필터 함수
	function textfilter(e){
		
		var search = $(e).val().toLowerCase();
		var className = $(e).next().children().eq(0).attr('class');
		
		$(document).find("."+className).each(function(index, item){
			var text = $(this).children().text();
			
			if(text.toLowerCase().includes(search)){
				$(this).css("display", "flex");
			}else{
				$(this).css("display", "none");
			}
		});
		
	}//end 필터 함수
	
	

	/* $(".b-light").change(function()
	{
		var division_id = $(this).val();
		var division_depth = this.id.slice(14, 15);
		
		var data = {"division_id" : division_id, "division_depth" : division_depth};
		
		$.ajax(
		{
			url : 'selectDivision',
			method : 'POST',
			dataType : 'json',
			data : data,
			success : function(result)
			{
				var depth = (division_depth * 1) + 1;
				var depth_list = $("#division_depth" + depth);
				var add_list = "";
				
				if(depth == 2)
				{
					add_list += '<option value="0">분류 선택</option>';
				}
				else if(depth == 3)
				{
					add_list += '<option value="0">항목 선택</option>';
				}
				
				for(var i = 0; i < result.length; i++)
				{
					add_list += '<option value="' + result[i].division_id + '">' + result[i].division + '</option>';
				}
				
				depth_list.empty();
				depth_list.append(add_list);
			}
		});
	}); */
	
	function UpdateBtn()
	{
		$("#update_popup").css("display", "flex");
	}
	
	function DeleteBtn()
	{
		$("#delete_popup").css("display", "flex");
	}
	
	function CancelBtn()
	{
		$("#update_popup").css("display", "none");
		$("#delete_popup").css("display", "none");
	}
	
	function UpdateResearch()
	{
		var division_id = $("#division_depth3").attr("data-select");
		var research_contents = $("#research_contents").val();

		if(division_id == 0)
		{
			alert("조사 항목을 선택하세요.");
		}
		else if(research_contents == "")
		{
			alert("조사 방법을 입력하세요.");
		}
		else
		{
			var data = {"research_id" : $("#research_id").val(), "division_id" : division_id, "research_contents" : research_contents};
			
			$.ajax(
			{
				url : 'updateResearch',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result)
				{
					if(result == 0)
					{
						$("#update_popup").css("display", "none");
					}
					else
					{
						$("#update_popup").css("display", "none");
						$("#success_popup").css("display", "flex");
					}
				}
			});
		}
	}
	
	function DeleteResearch()
	{
		var data = {"research_id" : $("#research_id").val()};
		
		$.ajax(
		{
			url : 'deleteResearch',
			method : 'POST',
			dataType : 'json',
			data : data,
			success : function(result)
			{
				if(result == 0)
				{
					$("#delete_popup").css("display", "none");
				}
				else
				{
					$("#delete_popup").css("display", "none");
					$("#success_popup").css("display", "flex");
				}
			}
		});
	}
</script>
</body>
</html>