<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	.content-header{margin-top:30px;}
	.end-button
	{
		width:85px;
		height:40px;
		background-color:#768BF5;
		border:0px;
		margin-top:-15px;
	}
	.end{margin-left:10px;}
</style>
<!-- 공통 헤더 -->
<th:block th:include="@{/fragments/header.html}"></th:block>
</head>
<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	<div class="mobile-author-actions"></div>
	<!-- 공통 topbar -->
	<th:block th:include="@{/fragments/topbar.html}"></th:block>
	<main class="main-content" style="background-color: #F9FBFD;">
		<div class="contents" style="background-color: #F9FBFD;">
		    <div class="container-fluid">
		    	<div class="row">
			        <div class="col-lg-12">
			        	<div class="breadcrumb-main" style="float: left;">
			        		<h4 class="text-capitalize breadcrumb-title">조사방법</h4>
			        		<span class="ml-20 mt-1">기초정보-조사방법</span>
			        	</div>
			        </div>
		        </div>
		    	<div class="row" style="display: flex; justify-content: center;">
			        <div class="col-12">
			        	<div class="card card-Vertical">
			        		<div class="card-body">
		        				<div class="row">
			        				<div class="col-md-6 mb-25">
	                                    <label for="division_depth1" class="color-dark fw-500">대상작목</label>
	                                    <select class="form-control b-light" id="division_depth1">
			                                <option value="0">대상 작목 선택</option>
			                                <th:block th:each="dvs : ${division}">
				                                <option th:value="${dvs.division_id}" th:text="${dvs.division}"></option>
			                                </th:block>
			                            </select>
	                                </div>
	                                <div class="col-md-6 mb-25">
	                                    <label for="division_depth2" class="color-dark fw-500">분류</label>
	                                    <select class="form-control b-light" id="division_depth2">
			                                <option value="0">분류 선택</option>
			                            </select>
	                                </div>
	                            </div>
	                            <div class="row">
			        				<div class="col-md-6 mb-25">
	                                    <label for="division_depth3" class="color-dark fw-500">항목</label>
	                                    <select class="form-control b-light" id="division_depth3">
			                                <option value="0">항목 선택</option>
			                            </select>
	                                </div>
	                                <div class="col-md-6 mb-25">
	                                    <label for="research_contents" class="color-dark fw-500"><span style="color: red;">*</span>조사방법</label>
	                                    <input type="text" class="form-control b-deep" id="research_contents">
	                                </div>
	                            </div>
			        		</div>
			        	</div>
			        </div>
		        </div>
		        <div class="row">
					<div class="col-4">
						<div class="action-btn d-flex justify-content-frist mt-30"></div>
					</div>
					<div class="col-4">
						<div class="d-flex justify-content-center mt-30"></div>
					</div>
					<div class="col-4">
						<div class="action-btn d-flex justify-content-end mt-30">
							<a href="/data/research" class="btn btn-primary end-button end">목록</a>
							<button type="button" class="btn btn-primary end-button end" onclick="InsertBtn();">등록</button>
						</div>
					</div>
				</div>
		        <div class="atbd-notice" id="success_popup" style="width:100vw; height:90vh; position:fixed; left:0px; top:0px; display:none; justify-content: center; align-items:center;">
		        	<div class="card card-default card-md mb-4" style="border:1px solid #eee; width: 20%; height: 25%;">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-success">
		        						<i class="fas fa-check color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>등록이 완료되었습니다.</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<a class="btn btn-default btn-success" href="/data/research" style="color: #FFFFFF;">확인</a>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        
		    </div>
    	</div>
    </main>
    <!-- 공통 하단 -->
    <th:block th:include="@{/fragments/footer.html}"></th:block>
    <!-- 공통 js -->
    <th:block th:include="@{/fragments/commonjs.html}"></th:block>
<script type="text/javascript">
	$(".b-light").change(function()
	{
		var division_id = $(this).val();
		var division_depth = this.id.slice(14, 15);
		
		var data = {"division_id" : division_id, "division_depth" : division_depth};
		
		$.ajax(
		{
			url : 'selectDivision',
			method : 'POST',
			dataType : 'json',
			data : data,
			success : function(result)
			{
				var depth = (division_depth * 1) + 1;
				var depth_list = $("#division_depth" + depth);
				var add_list = "";
				
				if(depth == 2)
				{
					add_list += '<option value="0">분류 선택</option>';
				}
				else if(depth == 3)
				{
					add_list += '<option value="0">항목 선택</option>';
				}
				
				for(var i = 0; i < result.length; i++)
				{
					add_list += '<option value="' + result[i].division_id + '">' + result[i].division + '</option>';
				}
				
				depth_list.empty();
				depth_list.append(add_list);
			}
		});
	});
	
	function InsertBtn()
	{
		var division_id = $("#division_depth3").val();
		var research_contents = $("#research_contents").val();

		if(division_id == 0)
		{
			alert("조사 항목을 선택하세요.");
		}
		else if(research_contents == "")
		{
			alert("조사 방법을 입력하세요.");
		}
		else
		{
			var data = {"division_id" : division_id, "research_contents" : research_contents};
			
			$.ajax(
			{
				url : 'insertResearch',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result)
				{
					if(result == 0)
					{
						
					}
					else
					{
						$("#success_popup").css("display", "flex");
					}
				}
			});
		}
	}
</script>
</body>
</html>