<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<style>
	.content-header{margin-top:30px;}
	.end-button
	{
		width:85px;
		height:40px;
		background-color:#768BF5;
		border:0px;
		margin-top:-15px;
	}
	.end{margin-left:10px;}
	.select-hide{
		display: none;
	}
	.select-show{
		display: block;
	    position: absolute;
	    z-index :10;
	    top: 30px;
	    width: 97.5%;
	    background-color: white;
	    border:1px solid;
	    border-radius: 5px;
	    cursor: pointer;
	    overflow-y: auto;
	    height: 125px;
	}

	.select .select-show li{
	    padding:0 0 0 5px;
	    line-height: 30px;
	}
	.row.form-group{
		align-items: center;
	}
	.next_text{
		float:left;
	}
	.content_cover{
		width: 20%;
    	margin-left: 10%;
	}
</style>
<!-- 공통 헤더 -->
<th:block th:include="/../fragments/header.html"></th:block>
</head>
<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	<div class="mobile-author-actions"></div>
	<!-- 공통 topbar -->
	<th:block th:include="/../fragments/topbar.html"></th:block>
	<main class="main-content" style="background-color: #F9FBFD;">
		<div class="contents" style="background-color: #F9FBFD;">
			<div class="container-fluid" style="padding: 0 50px;">
				<form action="#" id="updateUser" method="POST" enctype="multipart/form-data">
				<div class="row">
					<div class="col-lg-12" style="padding: 0 17px;">
						<div class="breadcrumb-main" style="float: left; padding:0;">
							<h4 class="text-capitalize breadcrumb-title">사용자</h4>
							<span class="ml-20 mt-1">기초정보 - 사용자수정</span>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="pb-5 card-body">
						<div class="row form-group">
							<div class="col-4 col-md-2 col-lg-2">
								<label class="" for="user_username"><span class="red">*</span>사용자 ID </label>
							</div>
							<div class="col-8 col-md-4 col-lg-2">
								<input type="text" class="form-control inputText" id="user_username" name="user_username" th:value="${user.user_username}" readonly="readonly">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-4 col-md-2 col-lg-2">
								<label class="" for="user_password"><span class="red">*</span>비밀번호 </label>
							</div>
							<div class="col-8 col-md-4 col-lg-2">
								<input type="password" class="form-control inputText" id="user_password" name="user_password" th:value="${user.user_password}">
							</div>
						</div>
						<div class="row form-group">
							<div class="pr-0 col-4 col-md-2 col-lg-2">
								<label class="" for="chk_password"><span class="red">*</span>비밀번호 확인</label>
							</div><div class="col-8 col-md-4 col-lg-2">
								<input type="password" class="form-control inputText" id="chk_password" name="chk_password" th:value="${user.user_password}">
							</div>
						</div>
						<div class="row form-group md-0">
							<div class="pr-0 col-4 col-md-2 col-lg-2">
								<label class="" for="user_name_k"><span class="red">*</span>성명</label>
							</div><div class="col-8 col-md-4 col-lg-2">
								<input type="text" class="form-control inputText" id="user_name_k" name="user_name_k" th:value="${user.user_name_k}">
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="user_name_e">영문</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<input type="text" class="form-control inputText" id="user_name_e" name="user_name_e" th:value="${user.user_name_e}">
								</div>
							</div>
						</div>
						<div class="row form-group md-0">
							<div class="mb-2 col-4 col-md-2 col-lg-2">
								<label class="" for="depart_depth1"><span class="red">*</span>원</label>
							</div>
							<div class="col-8 col-md-4 col-lg-2">
								<div class="select" style="height: auto;">
                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="depart_depth1" placeholder="원 선택" autocomplete="off">
                            		<ul class="select-hide">
                            			<th:block th:each="d1 : ${d1}">
                            				<li class="depart_depth1_list" onclick="selectOpt(this);"><span th:data-value="${d1.depart_id}" th:text="${d1.department}"></span></li>
                            			</th:block>
                            		</ul>
                            	</div>
								<!-- <select class="form-control b-light department" id="depart_depth1">
									<option value="0">원 선택</option>
									<th:block th:each="d1 : ${d1}">
		                                <option th:value="${d1.depart_id}" th:text="${d1.department}" th:selected="${d1.depart_id == user.d1_id}"></option>
	                                </th:block>
								</select> -->
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="depart_depth2">부</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<div class="select" style="height: auto;">
	                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="depart_depth2" placeholder="부 선택" autocomplete="off">
	                            		<ul class="select-hide">
	                            			<th:block th:each="d2 : ${d2}">
	                            				<li class="depart_depth2_list" onclick="selectOpt(this);"><span th:data-value="${d2.depart_id}" th:text="${d2.department}"></span></li>
	                            			</th:block>
	                            		</ul>
	                            	</div>
									<!-- <select class="form-control b-light department" id="depart_depth2">
										<option value="0">부 선택</option>
										<th:block th:each="d2 : ${d2}">
			                                <option th:value="${d2.depart_id}" th:text="${d2.department}" th:selected="${d2.depart_id == user.d2_id}"></option>
		                                </th:block>
									</select> -->
								</div>
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="depart_depth3"><span class="red">*</span>과</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<div class="select" style="height: auto;">
	                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="depart_depth3" placeholder="과 선택" autocomplete="off">
	                            		<ul class="select-hide">
	                            			<th:block th:each="d3 : ${d3}">
	                            				<li class="depart_depth3_list" onclick="selectOpt(this);"><span th:data-value="${d3.depart_id}" th:text="${d3.department}"></span></li>
	                            			</th:block>
	                            		</ul>
	                            	</div>
									<!-- <select class="form-control b-light department" id="depart_depth3" name="user_group">
										<option value="0">과 선택</option>
										<th:block th:each="d3 : ${d3}">
			                                <option th:value="${d3.depart_id}" th:text="${d3.department}" th:selected="${d3.depart_id == user.d3_id}"></option>
		                                </th:block>
									</select> -->
								</div>
							</div>
						</div>
						<div class="row form-group md-0">
							<div class="mb-2 col-4 col-md-2 col-lg-2">
								<label class="" for="depart_depth4">소속실</label>
							</div>
							<div class="col-8 col-md-4 col-lg-2">
								<div class="select" style="height: auto;">
                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="depart_depth4" placeholder="소속실 선택" autocomplete="off">
                            		<ul class="select-hide">
                            			<th:block th:each="d4 : ${d4}">
                            				<li class="depart_depth4_list" onclick="selectOpt(this);"><span th:data-value="${d4.depart_id}" th:text="${d4.department}"></span></li>
                            			</th:block>
                            		</ul>
                            	</div>
								<!-- <select class="form-control b-light department" id="depart_depth4" name="depart_id">
									<option value="0">소속실 선택</option>
									<th:block th:each="d4 : ${d4}">
		                                <option th:value="${d4.depart_id}" th:text="${d4.department}" th:selected="${d4.depart_id == user.d4_id}"></option>
	                                </th:block>
								</select> -->
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="user_position"><span class="red">*</span>직종</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<div class="select" style="height: auto;">
	                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="user_position" placeholder="직종 선택" autocomplete="off">
	                            		<ul class="select-hide">
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="연구직">연구직</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="전문연구직">전문연구직</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="공무직">공무직</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="실무관">실무관</span></li>
	                            		</ul>
	                            	</div>
									<!-- <select class="form-control b-light" id="user_position" name="user_position">
										<option value="">직종 선택</option>
										<option value="연구직">연구직</option>
										<option value="전문연구직">전문연구직</option>
										<option value="공무직">공무직</option>
										<option value="실무관">실무관</option>
									</select> -->
								</div>
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="user_level"><span class="red">*</span>직급</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<div class="select" style="height: auto;">
	                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="user_level" placeholder="직급 선택" autocomplete="off">
	                            		<ul class="select-hide">
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="수확후이용과">농업연구관</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="농업연구사">농업연구사</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="박사후전문연구원">박사후전문연구원</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="연구원">연구원</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="공업서기">공업서기</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="포장온실관리원">포장온실관리원</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="행정실무원">행정실무원</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="시설관리원">시설관리원</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="운전원">운전원</span></li>
	                            		</ul>
	                            	</div>
									<!-- <select class="form-control b-light" id="user_level" name="user_level">
										<option value="">직급 선택</option>
										<option value="수확후이용과">농업연구관</option>
										<option value="농업연구사">농업연구사</option>
										<option value="박사후전문연구원">박사후전문연구원</option>
										<option value="연구원">연구원</option>
										<option value="공업서기">공업서기</option>
										<option value="포장온실관리원">포장온실관리원</option>
										<option value="행정실무원">행정실무원</option>
										<option value="시설관리원">시설관리원</option>
										<option value="운전원">운전원</option>
									</select> -->
								</div>
								</div>
						</div>
						<div class="row form-group">
							<div class="col-4 col-md-2 col-lg-2">
								<label class="" for="user_post">주소</label>
							</div>
							<div class="col-8 col-md-4 col-lg-2">
								<input type="text" class="form-control inputText" id="user_post" name="user_post" th:value="${user.user_post}" placeholder="우편번호">
							</div>
						</div>
						<div class="mb-0 row form-group">
							<div class="mb-2 col-4 col-md-2 col-lg-2">
								<label class="">&nbsp;</label>
							</div>
							<div class="mb-2 col-8 col-md-5 col-lg-3">
								<input type="text" class="form-control inputText" id="user_address" name="user_address" th:value="${user.user_address}" placeholder="주소">
							</div>
							<div class="d-flex d-md-none mb-2 col-4 col-md-2 col-lg-2">
								<label class="">&nbsp;</label>
							</div>
							<div class="mb-2 col-8 col-md-5 col-lg-3">
								<input type="text" class="form-control inputText" id="user_address_detail" name="user_address_detail" th:value="${user.user_address_detail}" placeholder="상세주소">
							</div>
						</div>
						<div class="mb-0 row form-group">
							<div class="mb-2 col-4 col-md-2 col-lg-2">
								<label class="" for="user_tel">전화번호</label>
							</div>
							<div class="mb-2 col-8 col-md-4 col-lg-2">
								<input type="text" class="form-control inputText" id="user_tel" name="user_tel" th:value="${user.user_tel}">
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="user_pax">팩스번호</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<input type="text" class="form-control inputText" id="user_pax" name="user_pax" th:value="${user.user_pax}">
								</div>
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="user_phone">휴대번호</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<input type="text" class="form-control inputText" id="user_phone" name="user_phone" th:value="${user.user_phone}">
								</div>
							</div>
						</div>
						<div class="mb-0 row form-group">
							<div class="mb-2 col-4 col-md-2 col-lg-2">
								<label class="" for="user_scientist">과학기술인번호</label>
							</div>
							<div class="mb-2 col-8 col-md-4 col-lg-2">
								<input type="text" class="form-control inputText" id="user_scientist" name="user_scientist" th:value="${user.user_scientist}">
							</div>
							<div class="content_cover">
								<div class="next_text">
									<label class="" for="user_type"><span class="red">*</span>권한</label>
								</div>
								<div class="col-8 col-md-4 col-lg-9" style="float:right">
									<div class="select" style="height: auto;">
	                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="user_type" placeholder="권한 선택" autocomplete="off">
	                            		<ul class="select-hide">
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="0">관리자</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="1">운영자</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="2">연구직</span></li>
	                            			<li class="user_position_list" onclick="selectOpt(this);"><span data-value="3">공무직</span></li>
	                            		</ul>
	                            	</div>
									<!-- <select class="form-control b-light authority" id="user_type" name="user_type">
										<option value="">권한 선택</option>
										<option value="0">관리자</option>
										<option value="1">운영자</option>
										<option value="2">연구직</option>
										<option value="3">공무직</option>
									</select> -->
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-4">
						<div class="action-btn d-flex justify-content-frist mt-30"></div>
					</div>
					<div class="col-4">
						<div class="d-flex justify-content-center mt-30"></div>
					</div>
					<div class="col-4">
						<div class="action-btn d-flex justify-content-end mt-30">
							<a href="/data/user" class="btn btn-primary end-button end">목록</a>
							<button type="button" class="btn btn-default btn-danger end-button end" onclick="DeleteBtn();">삭제</button>
		                	<button type="button" class="btn btn-default btn-primary end-button end" onclick="UpdateBtn();">수정</button>
		                	<input type="hidden" id="user_id" name="user_id" th:value="${user.user_id}">
		                	<input type="hidden" id="origin_pwd" name="origin_pwd" th:value="${user.user_password}">
						</div>
					</div>
				</div>
				</form>
				<div class="atbd-notice" id="success_popup" style="width:100vw; height:90vh; position:fixed; left:0px; top:0px; display:none; justify-content: center; align-items:center;">
		        	<div class="card card-default card-md mb-4" style="border:1px solid #eee; width: 20%; height: 25%;">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-success">
		        						<i class="fas fa-check color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>완료되었습니다.</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<a class="btn btn-default btn-success" href="/data/user" style="color: #FFFFFF;">확인</a>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        <div class="atbd-notice" id="update_popup" style="width:100vw; height:90vh; position:fixed; left:0px; top:0px; display:none; justify-content: center; align-items:center;">
		        	<div class="card card-default card-md mb-4" style="border:1px solid #eee; width: 20%; height: 25%;">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-info">
		        						<i class="fas fa-exclamation color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>수정하시겠습니까?</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<button class="btn btn-default btn-primary mr-10" onclick="UpdateUser();" style="color: #FFFFFF;">수정</button>
		        						<button class="btn btn-default btn-danger" onclick="CancelBtn();" style="color: #FFFFFF;">취소</button>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		        <div class="atbd-notice" id="delete_popup" style="width:100vw; height:90vh; position:fixed; left:0px; top:0px; display:none; justify-content: center; align-items:center;">
		        	<div class="card card-default card-md mb-4" style="border:1px solid #eee; width: 20%; height: 25%;">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-danger">
		        						<i class="fas fa-exclamation-triangle color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>삭제하시겠습니까?</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<button class="btn btn-default btn-primary mr-10" onclick="DeleteUser();" style="color: #FFFFFF;">삭제</button>
		        						<button class="btn btn-default btn-danger" onclick="CancelBtn();" style="color: #FFFFFF;">취소</button>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
			</div>
		</div>
	</main>
     <!-- 공통 하단 -->
    <th:block th:include="/../fragments/footer.html"></th:block>
    <!-- 공통 js -->
    <th:block th:include="/../fragments/commonjs.html"></th:block>
</body>
<script type="text/javascript" th:inline="javascript">
	
	var user = /*[[${user}]]*/ "null";
	console.log(user);
	
	//select 박스 기존 데이터 노출
	function loadSelectData(){
		$("#depart_depth1").attr("data-select", user.d1_id);
		$("#depart_depth1").val(user.d1_department_name);
		
		$("#depart_depth2").attr("data-select", user.d2_id);
		$("#depart_depth2").val(user.d2_department_name);
		
		$("#depart_depth3").attr("data-select", user.d3_id);
		$("#depart_depth3").val(user.d3_department_name);
		
		$("#depart_depth4").attr("data-select", user.d4_id);
		$("#depart_depth4").val(user.d4_department_name);
		
		$("#user_position").attr("data-select", user.user_position);
		$("#user_position").val(user.user_position);
		
		$("#user_level").attr("data-select", user.user_level);
		$("#user_level").val(user.user_level);
		
		var user_type = user.user_type;
		$("#user_type").attr("data-select", user_type);
		if(user_type == "0"){
			$("#user_type").val("관리자");
		}else if(user_type == "1"){
			$("#user_type").val("운영자");
		}else if(user_type == "2"){
			$("#user_type").val("연구직");
		}else if(user_type == "3"){
			$("#user_type").val("공무직");
		}
	}
	loadSelectData();
	
	let selectInputEls = document.querySelectorAll('input[name="select-input"]');
	let select_this;
	let select_prev;
	let select_id;
	
	function selection(){
		if(document.getSelection){
			var selection = document.getSelection();
			
			if(selection.focusNode != null){
				if(selection.focusNode.children != undefined){
					var length = selection.focusNode.children.length;
					if(length != 0){
						var check = selection.focusNode.children[0].name;
						var check2 = selection.focusOffset;
						if(check == "select-input" && check2 == "1"){
							selectFilter(selection.focusNode.children[0]);
						}
					}
				}
			}
			
		}
	}
	
	function selectFilter(e){
		
		var selection = document.getSelection();
		
		select_prev = select_this;
		select_this = e;
		select_id = e.id;
		
		let selectOptionWrapEls = document.querySelectorAll('.select ul');
		
		var currTarget = e;
		var delOption = currTarget.nextElementSibling;
		
		for(var i = 0 ; i < selectOptionWrapEls.length; i++){
			
			if(selectOptionWrapEls[i].classList.contains("select-show")){
				selectOptionWrapEls[i].classList.add('select-hide');
				selectOptionWrapEls[i].classList.remove('select-show');
			}
		}
		
		if(delOption.classList.contains('select-hide')){
			delOption.classList.remove('select-hide');
			delOption.classList.add('select-show');
		}
		
	}
	
	let body = document.querySelector('body');
	function hideSelect(e){
		
		let selectOptionWrapEls = document.querySelectorAll('.select ul');
		var target = e.target.name;
		
		if(target == "select-input"){
			if(select_prev != undefined && select_this != select_prev){
				var prev_attr = select_prev.getAttribute("value");
				var prev_text = select_prev.value;
				if(prev_attr != prev_text){
					select_prev.value = prev_attr;
					var prev_textEl = select_prev.parentNode.children[1].children;
					
					for(var i = 0; i < prev_textEl.length; i++){
						prev_textEl[i].style.display = "flex";
					}
					
					var textEl = select_this.parentNode.children[1].children;
					
					for(var i = 0; i < textEl.length; i++){
						textEl[i].style.display = "flex";
					}
				}
			}
		}
		
		if(target != "select-input"){
			if(select_this != undefined && select_this.value != null){
				var select_attr = select_this.getAttribute("value");
				var select_text = select_this.value;
				
				if(select_attr != select_text && select_this.id == select_id){
					select_this.value = select_attr;
					
					var textEl = select_this.parentNode.children[1].children;
					
					for(var i = 0; i < textEl.length; i++){
						textEl[i].style.display = "flex";
					}
				}
			}
			
			for(var i = 0 ; i < selectOptionWrapEls.length; i++){
				
				if(selectOptionWrapEls[i].classList.contains("select-show")){
					selectOptionWrapEls[i].classList.add('select-hide');
					selectOptionWrapEls[i].classList.remove('select-show');
				}
			}
		}
	}
	body.addEventListener('click',hideSelect);
	body.addEventListener('click', selection);
	
	/* 옵션선택 */
	function selectOpt(e){
	    var dataSelect = $(e).children().attr("data-value");
	    var text = $(e).children().text();
	    $(e).parent().prev().attr("data-select", dataSelect);
	    $(e).parent().prev().attr("value", text);
	    $(e).parent().attr("class", "select-hide");
	    
	    var departEl_id = e.parentNode.previousElementSibling.id.slice(0, 12);
	   
	    if(departEl_id == "depart_depth"){
	    	 var departEl = e.parentNode.previousElementSibling;
	    	 var depart_id = dataSelect;
	 		 var depart_depth = e.parentNode.previousElementSibling.id.slice(12, 13);
	 		 
	 		var data = {"depart_id" : depart_id, "depart_depth" : depart_depth};
			
			$.ajax(
			{
				url : 'selectDepartment',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result)
				{
					var depth = (depart_depth * 1) + 1;
					var depart_list = $("#depart_depth" + depth).next();
					var add_list = "";
					
					if(depart_depth == "1"){
						$("#depart_depth2").attr("data-select", "");
						$("#depart_depth2").attr("value", "");
						$("#depart_depth2").val("");
						
						$("#depart_depth3").attr("data-select", "");
						$("#depart_depth3").attr("value", "");
						$("#depart_depth3").val("");
						
						$("#depart_depth4").attr("data-select", "");
						$("#depart_depth4").attr("value", "");
						$("#depart_depth4").val("");
					}else if(depart_depth == "2"){
						$("#depart_depth3").attr("data-select", "");
						$("#depart_depth3").attr("value", "");
						$("#depart_depth3").val("");
						
						$("#depart_depth4").attr("data-select", "");
						$("#depart_depth4").attr("value", "");
						$("#depart_depth4").val("");
					}else if(depart_depth == "3"){
						$("#depart_depth4").attr("data-select", "");
						$("#depart_depth4").attr("value", "");
						$("#depart_depth4").val("");
					}
					
					for(var i = 0; i < result.length; i++)
					{
						add_list += '<li class="depart_depth'+depth+'_list" onclick="selectOpt(this);">';
						add_list += '<span data-value="'+result[i].depart_id+'">'+result[i].department+'</span>';
						add_list += '</li>';
					}
					
					depart_list.empty();
					depart_list.append(add_list);
				}
			});
	 		 
	    }//end if
	}//end 옵션 선택
	
	//필터 함수
	function textfilter(e){
		
		var search = $(e).val().toLowerCase();
		var className = $(e).next().children().eq(0).attr('class');
		
		$(document).find("."+className).each(function(index, item){
			var text = $(this).children().text();
			
			if(text.toLowerCase().includes(search)){
				$(this).css("display", "flex");
			}else{
				$(this).css("display", "none");
			}
		});
		
	}//end 필터 함수
	
	
	
	$('.inputText').bind('keydown', function(e)
   	{
   		if(e.keyCode == 13)
   		{
   			/* e.preventDefault(); */ 
   			return false;
   		}
   	});

	/* $(".department").change(function()
	{
		var depart_id = $(this).val();
		var depart_depth = this.id.slice(12, 13);
		
		var data = {"depart_id" : depart_id, "depart_depth" : depart_depth};
		
		$.ajax(
		{
			url : 'selectDepartment',
			method : 'POST',
			dataType : 'json',
			data : data,
			success : function(result)
			{
				console.log(result);
				var depth = (depart_depth * 1) + 1;
				var depart_list = $("#depart_depth" + depth);
				var add_list = "";
				
				if(depth == 2)
				{
					add_list += '<option value="0">부 선택</option>';
				}
				else if(depth == 3)
				{
					add_list += '<option value="0">과 선택</option>';
				}
				else if(depth == 4)
				{
					add_list += '<option value="0">소속실 선택</option>';
				}
				
				for(var i = 0; i < result.length; i++)
				{
					add_list += '<option value="' + result[i].depart_id + '">' + result[i].department + '</option>';
				}
				
				depart_list.empty();
				depart_list.append(add_list);
			}
		});
	}); */
	
	function UpdateBtn()
	{
		$("#update_popup").css("display", "flex");
	}
	
	function DeleteBtn()
	{
		$("#delete_popup").css("display", "flex");
	}
	
	function CancelBtn()
	{
		$("#update_popup").css("display", "none");
		$("#delete_popup").css("display", "none");
	}
	
	function UpdateUser()
	{
		
		var user_username = $("#user_username").val();
		var user_password = $("#user_password").val();
		var chk_password = $("#chk_password").val();
		var user_name_k = $("#user_name_k").val();
		var user_name_e = $("#user_name_e").val();
		var depart_depth1 = $("#depart_depth1").attr("data-select");
		var depart_depth2 = $("#depart_depth2").attr("data-select");
		var depart_depth3 = $("#depart_depth3").attr("data-select");
		var depart_id = $("#depart_depth4").attr("data-select");
		var user_position = $("#user_position").attr("data-select");
		var user_level = $("#user_level").val();
		var user_post = $("#user_post").val();
		var user_address = $("#user_address").val();
		var user_address_detail = $("#user_address_detail").val();
		var user_tel = $("#user_tel").val();
		var user_pax = $("#user_pax").val();
		var user_phone = $("#user_phone").val();
		var user_scientist = $("#user_scientist").val();
		var user_type = $("#user_type").attr("data-select");
		var origin_pwd = $("#origin_pwd").val();
		
		if(user_username == "")
		{
			alert("사용자 ID를 입력하세요.");
			$("#update_popup").css("display", "none");
		}
		else if(user_password == "")
		{
			alert("비밀번호를 입력하세요.");
			$("#update_popup").css("display", "none");
		}
		else if(chk_password == "")
		{
			alert("비밀번호 다시 한번 입력하세요.");
			$("#update_popup").css("display", "none");
		}
		else if(user_name_k == "")
		{
			alert("성명을 입력하세요.");
			$("#update_popup").css("display", "none");
		}
		else if(depart_depth1 == 0)
		{
			alert("소속원을 선택해주세요.");
			$("#update_popup").css("display", "none");
		}
		else if(depart_depth2 == 0)
		{
			alert("소속부을 선택해주세요.");
			$("#update_popup").css("display", "none");
		}
		else if(depart_depth3 == 0)
		{
			alert("소속과를 선택해주세요.");
			$("#update_popup").css("display", "none");
		}
		else if(user_position == "")
		{
			alert("직종을 선택해주세요.");
			$("#update_popup").css("display", "none");
		}
		else if(user_level == "")
		{
			alert("직급을 선택해주세요");
			$("#update_popup").css("display", "none");
		}
		else if(user_password != chk_password)
		{
			alert("비밀번호가 일치하지 않습니다.");
			$("#update_popup").css("display", "none");
		}
		else if(user_type == "")
		{
			alert("권한을 선택해주세요.");
			$("#update_popup").css("display", "none");
		}
		else
		{
			/* $("#updateUser").submit(); */
			//var updateUser_from = $("#updateUser").serialize();
			
			var data = {
				"user_id" : user.user_id,
				"user_username" : user_username,
				"user_password" : user_password,
				"user_name_k" : user_name_k,
				"user_name_e" : user_name_e,
				"depart_id" : depart_id,
				"user_position" : user_position,
				"user_level" : user_level,
				"user_post" : user_post,
				"user_address" : user_address,
				"user_address_detail" : user_address_detail,
				"user_tel" : user_tel,
				"user_pax" : user_pax,
				"user_phone" : user_phone,
				"user_scientist" : user_scientist,
				"user_type" : user_type,
				"user_group" : depart_depth3,
				"origin_pwd" : origin_pwd
			};
			
			$.ajax(
			{
				url : 'updateUser',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result)
				{
					console.log(result);
					if(result == 0)
					{
						$("#update_popup").css("display", "none");
					}
					else
					{
						$("#update_popup").css("display", "none");
						$("#success_popup").css("display", "flex");
					}
				}
			});
		}
	}
	
	function DeleteUser()
	{
		var data = {"user_id" : user.user_id};
		console.log(data);
		$.ajax(
		{
			url : 'deleteUser',
			method : 'POST',
			dataType : 'json',
			data : data,
			success : function(result)
			{
				if(result == 0)
				{
					$("#delete_popup").css("display", "none");
				}
				else
				{
					$("#delete_popup").css("display", "none");
					$("#success_popup").css("display", "flex");
				}
			}
		});
	}
</script>
</html>