<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 공통 헤더 -->
<th:block th:include="/../fragments/header.html"></th:block>
<style>
  .breadcrumb-main{
  float: left;
  }
  table {
    border-top: 1px solid grey;
    
    border-collapse: collapse;
  }
  th, td {
  	border-bottom: 2px solid #E5E9F2;
    padding: 10px;
    text-align: center;
    font-weight: initial;
  }
  th {
    background-color: white;
  }
  tbody tr:nth-child(2n) {
    background-color: white;
  }
  tbody tr:nth-child(2n+1) {
    background-color: #F4F8FB;
  }
  button{ 
   width: 101px;
   height: 40px;
  }
  .page-numder{
	width:80px;
	height: 35px;
  }
   .atbd-button-list{
   	margin:0 5px;
   }
   .end-button{
   width:126px;
   height:47px;
   background-color:#768BF5;
   border:0px;
   margin-top:-15px;
   }
   .end{
   margin-left:10px;
   }
   .page-item a{
    color:#7C8798;
   }
   .page-item.active{
   background:none;
   color: #768BF5;
   }
   .atbd-pagination__link{
   width: 30px;
   height: 10px;
   }
</style>
</head>
<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	<div class="mobile-author-actions"></div>
	<!-- 공통 topbar -->
	<th:block th:include="/../fragments/topbar.html"></th:block>
	<main class="main-content" style="background-color:  #F9FBFD;">
		<div class="contents" style="background-color:  #F9FBFD;">
		    <div class="container-fluid">
		    	<div class="row">
			        <div class="col-lg-12" style="padding:0;">
			        	<div class="breadcrumb-main">
			        		<h4 class="text-capitalize breadcrumb-title">사용자</h4>
			        		<span class="ml-20 mt-1">기초정보 - 사용자</span>
			        	</div>
			        </div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-12 mb-30" style="padding:0 50px;">
		        		<div class="card">
		       				<div class="card-extra mt-20 mr-20">
		       					<div class="d-flex justify-content-start" style="float: left;">
		       						<span class="ml-30 mt-20 mr-10">show</span>
		    						<select class="form-control form-control-lg mt-15 mr-10 page-numder" id="limit" name="page-number">
		                          		<option value="10">10</option>
		                          		<option value="20">20</option>
		                          		<option value="30">30</option>
		                      		</select>
		                      		<span class="ml-1 mt-20">entries</span>
		       					</div>
		       					<!-- 버튼 등록하는 곳 -->
		       					<div class="action-btn d-flex justify-content-end">
				      				<div class="atbd-button-list d-flex flex-wrap">
				      					<div class="d-flex align-items-center add-contact__form my-sm-0 my-2">
				                            <select class="form-control form-control-lg mt-10 mb-10 mr-10" id="search_type" style="width: 238px;height:40px;">
				                                <option value="none">전체</option>
				                                <option value="u.user_username">사용자 ID</option>
				                                <option value="u.user_name_k">성명</option>
				                                <option value="d4.department">소속실</option>
				                                <option value="u.user_position">직종</option>
				                                <option value="u.user_level">직급</option>
				                            </select>
				                            <div class="input-container icon-right position-relative mr-10">
			                                    <a href="#" onclick="SearchUser(1); return false;" class="input-icon icon-right"><span data-feather="search" ></span></a>
			                                    <input type="text" class="form-control form-control-lg" id="keyword" placeholder="Search" style="width: 238px;height:40px;">
			                                </div>
				      					</div>
				      					<button class="btn btn-primary" id="excelBtn" style="margin:10px 0 0 0">CSV<span data-feather="download"style="margin:0;"></span></button>
				      				</div>
			      				</div>
		       				</div>
		        			<div class="card-body">
		        				<div class="bg-white">
		                        	<div class="table-responsive">
		                            	<table class="table">
		                            		<thead>
		                            			<tr>
		                            				<th>사용자 ID</th>
		                            				<th>성명</th>
		                            				<th>소속실</th>
		                            				<th>직종</th>
		                            				<th>직급</th>
		                            				<th>권한</th>
		                            				<th>사용여부</th>
		                            				<th>등록일</th>
		                            			</tr>
		                            		</thead>
		                            		<tbody id="user_list">
		                            			
		                            		</tbody>
		                            	</table>
		                        	</div>
		                        	<div class="row">
		                        		<div class="col-4">
			                        		<!-- <div class="action-btn d-flex justify-content-frist mt-30">
				                        		<a href="#" class="btn btn-lg btn-primary end-button">활용</a>
			                                </div> -->
				                        </div>
				                        <div class="col-4">
				                        	<div class="row" style="justify-content: center;">
					                        	<div id="pageNum" style="text-align:center; margin: 2% 0 0 0;"></div>
				                        	</div>
				                        </div>
				                        <div class="col-4">
				                        	<div class="action-btn d-flex justify-content-end mt-30">
			                                    <a href="/data/user/insert" class="btn btn-primary end-button end">등록</a>
			                                </div>
				                        </div>
		                        	</div>
		                        </div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		    </div>
    	</div>
    </main>
    <!-- 공통 하단 -->
    <th:block th:include="/../fragments/footer.html"></th:block>
    <!-- 공통 js -->
    <th:block th:include="/../fragments/commonjs.html"></th:block>
</body>
<script type="text/javascript">
	$(document).ready(function()
	{
		SearchUser(1);
	});
	
	//페이지 보기 변경시 시약 검색 실행
	$("#limit").on("change", function()
	{
		SearchUser(1);
	});
	
	//사용자 검색
	function SearchUser(e)
	{
		var limit = $("#limit").val();
		var search_type = $("#search_type").val();
		var keyword = $("#keyword").val();
		
		var data = {"search_type" : search_type, "keyword" : keyword, "page_num" : e, "limit" : limit};
		
		$.ajax(
		{
			url : '/data/user/searchUser',
			method : 'POST',
			dataType : 'json',
			data : data,
			success : function(result)
			{
				var user_list = $("#user_list");
				var add_list = "";
				
				var pageNum = $("#pageNum");
				var page_add = "";
				
				var length = result.user.length;
				
				if(length == 0)
				{
					add_list = '<tr>' + '<td colspan="9">' + '<span>' + '등록된 데이터가 없습니다.' + '</span>' + '</td>' + '</tr>';
					
					user_list.empty();
					user_list.append(add_list);
				}
				else
				{
					for(var i = 0; i < length; i++)
					{
						add_list += '<tr>';
						add_list += '<td><a href="/data/user/modify?user_id='+ result.user[i].user_id + '">' + result.user[i].user_username+ '</a></td>';
						add_list += '<td><span>' + result.user[i].user_name_k + '</span></td>';
						add_list += '<td><span>' + (result.user[i].d4_department_name == null ? "-" : result.user[i].d4_department_name) + '</span></td>';
						add_list += '<td><span>' + result.user[i].user_position + '</span></td>';
						add_list += '<td><span>' + result.user[i].user_level + '</span></td>';
						
						if(result.user[i].user_type == 0)
						{
							add_list += '<td><span>관리자</span></td>';
						}
						else if(result.user[i].user_type == 1)
						{
							add_list += '<td><span>운영자</span></td>';
						}
						else if(result.user[i].user_type == 2)
						{
							add_list += '<td><span>연구직</span></td>';
						}
						else if(result.user[i].user_type == 3)
						{
							add_list += '<td><span>공무직</span></td>';
						}
						
						add_list += '<td><span>' + (result.user[i].user_status == 0 ? "N" : "Y") + '</span></td>';
						add_list += '<td><span>' + result.user[i].create_date + '</span></td>';
						add_list += '</tr>';
					}
					
					if(result.page_num > 10)
					{
						page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchUser(' + (result.start_page - 10) + ')"><</button>';
					}
					
					for(var i = (result.start_page - 1); i < (result.start_page + 9); i++)
					{
						if(result.page_num == (i + 1))
						{
							page_add += '<button class="atbd-pagination__link active" onclick="SearchUser(' + (i + 1) + ')">' + (i + 1) + '</button>';
						}
						else if(i >= result.end_page)
						{
							
						}
						else
						{
							page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchUser(' + (i + 1) + ')">' + (i + 1) + '</button>';
						}
					}
					
					if(result.page_num < (result.end_page - 10))
					{
						page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchUser(' + (result.start_page + 10) + ')">></button>';
					}
					
					user_list.empty();
					user_list.append(add_list);
					
					pageNum.empty();
					pageNum.append(page_add);
				}
			}
		});
		return true;
	}
	
	//엑셀 다운로드 버튼 이벤트
	$("#excelBtn").on("click", function(){
		window.location.href = "/data/user/exceldownload";
	});
	
</script>
</html>