<!doctype html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- 공통 헤더 -->
<th:block th:include="/../fragments/header.html"></th:block>
<style>
  .breadcrumb-main{
  float: left;
  }
  table {
    border-top: 1px solid grey;
    
    border-collapse: collapse;
  }
  th, td {
  	border-bottom: 2px solid #E5E9F2;
    padding: 10px;
    text-align: center;
    font-weight: initial;
  }
  th {
    background-color: white;
  }
  tbody tr:nth-child(2n) {
    background-color: white;
  }
  tbody tr:nth-child(2n+1) {
    background-color: #F4F8FB;
  }
  button{ 
   width: 101px;
   height: 40px;
   }
   .page-numder{
   	width:80px;
   	height: 35px;
   	
   }
   .atbd-button-list{
   margin:0 5px;
   }
   .end-button{
   width:150px;
   height:45px;
   background-color:#768BF5;
   border:0px;
   margin-top:-15px;
   }
   .end{
   margin-left:10px;
   }
   .page-item a{
    color:#7C8798;
   }
   .page-item.active{
   background:none;
   color: #768BF5;
   }
   .atbd-pagination__link{
   width: 30px;
   height: 10px;
   }
</style>

</head>
<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	<div class="mobile-author-actions"></div>
	<!-- 공통 topbar -->
	<th:block th:include="/../fragments/topbar.html"></th:block>
	<main class="main-content" style="background-color: #F9FBFD;">
		<div class="contents" style="background-color: #F9FBFD;">
		    <div class="container-fluid">
		    	<div class="row">
			        <div class="col-lg-12" style="padding:0">
			        	<div class="breadcrumb-main">
			        		<h4 class="text-capitalize breadcrumb-title">시험장소</h4>
			        		<span class="ml-20 mt-1">기초정보 - 시험장소</span>
			        	</div>
			        </div>
		        </div>
		        <div class="row">
		        	<div class="col-lg-12 mb-30" style="padding:0 50px;">
		        		<div class="card">
		        			<div class="card-body">
		        				<div class="tab-wrapper">
		        					<div class="atbd-tab tab-horizontal">
		        						<ul class="nav nav-tabs vertical-tabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="tab-v-1-tab" data-toggle="tab" href="#tab-v-1" role="tab" aria-controls="tab-v-1" aria-selected="true">등록장소</a>
                                            </li>
                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane fade show active" id="tab-v-1" role="tabpanel" aria-labelledby="tab-v-1-tab">
                                                <div class="row">
                                                	<!-- 테이블 들어갈 자리 -->
                                                	<div class="col-lg-6">
                                                		<div class="bg-white">
								                        	<div class="table-responsive">
								                            	<table class="table">
								                            		<thead>
								                            			<tr>
								                            				<th>위치ID</th>
								                            				<th>위치</th>
								                            				<th>구획구분</th>
								                            				<th>면적</th>
								                            				<th>이용과</th>
								                            			</tr>
								                            		</thead>
								                            		<tbody id="storage_list">
								                            			<tr>
								                            				<td><span>fi-o-002-001</span></td>
								                            				<td><span>작물연구동</span></td>
								                            				<td><span>C-A-1</span></td>
								                            				<td><span>0.4 ha</span></td>
								                            				<td><span>중부작물과</span></td>
								                            			</tr>
								                            			<tr>
								                            				<td><span>fi-o-002-002</span></td>
								                            				<td><span>작물연구동</span></td>
								                            				<td><span>C-A-2</span></td>
								                            				<td><span>0.67 ha</span></td>
								                            				<td><span>중부작물과</span></td>
								                            			</tr>
								                            		</tbody>
								                            	</table>
								                            </div>
								                        </div>
                                                	</div>
                                                	<!-- 시험장소 이미지 들어갈 자리 -->
                                                	<div class="col-lg-6" id="map">
                                                		<div style="border: 1px solid dark; background: grey; height: 550px;">
					                    					<p style="color: white;">시험장소 이미지 들어갈 자리</p>
					                    				</div>
                                                	</div>
                                                </div>
						                        <div class="col-4">
						                        	<div class="row" style="justify-content: center;">
							                        	<div id="pageNum" style="text-align:center; margin: 2% 0 0 0;"></div>
						                        	</div>
						                        </div>
					                            <th:block th:if="${#authentication.principal.user_type == 0}">
					                            	<div class="action-btn d-flex justify-content-end mt-30">
					                                    <button class="btn btn-lg btn-primary" id="outBtn" onclick="InsertBtn();">+신규등록</button>
					                                </div>
					                            </th:block>
                                            </div>
                                        </div>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		    </div>
		    
		    <div class="modal-basic modal fade show" id="storageOutModal" tabindex="-1" role="dialog" aria-hidden="true">
			    <div class="modal-dialog modal-xl" role="document">
			        <div class="modal-content modal-bg-white">
			        	<div class="modal-header">
			        		<h6 class="modal-title">신규등록</h6>
	                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                        	<span data-feather="x"></span>
	                        </button>
			        	</div>
			            <div class="modal-body">
			            	<div class="col-12">
				            	<form action="storage/insertStorage" id="insertForm" method="POST" enctype="multipart/form-data">
				            		<div class="row">
				            			<div class="col-sm-2 d-flex aling-items-center">
			                            	<label for="storage_name" class="col-form-label color-dark align-center"><span style="color: red;">*</span>위치</label>
		                                </div>
		                                <div class="col-sm-10">
			                                <input type="text" class="form-control b-light" id="storage_name" name="storage_name">
			                            </div>
				            		</div>
				            		<div class="row mt-3">
				            			<div class="col-sm-2 d-flex aling-items-center">
			                            	<label for="storage_division" class="col-form-label color-dark align-center">구획구분</label>
		                                </div>
		                                <div class="col-sm-10">
			                                <input type="text" class="form-control b-light" id="storage_division" name="storage_division">
			                            </div>
				            		</div>
				            		<div class="row mt-3">
				            			<div class="col-sm-2 d-flex aling-items-center">
			                            	<label for="storage_size" class="col-form-label color-dark align-center">면적</label>
		                                </div>
		                                <div class="col-sm-10">
			                                <input type="text" class="form-control b-light" id="storage_size" name="storage_size">
			                            </div>
				            		</div>
				            		<div class="row mt-3">
				            			<div class="col-sm-2 d-flex aling-items-center">
			                            	<label for="storage_type" class="col-form-label color-dark align-center"><span style="color: red;">*</span>장소유형</label>
		                                </div>
		                                <div class="col-sm-10">
			                                <select class="form-control b-light" id="storage_type" name="storage_type">
		                                		<option value="9">유형 선택</option>
		                                		<option value="0">작물 연구동</option>
		                                		<option value="1">가공이용 연구동</option>
		                                		<option value="2">연천 시험지</option>
		                                		<option value="3">외부 포장지</option>
			                                </select>
			                            </div>
				            		</div>
				            		<div class="row mt-3">
				            			<div class="col-sm-2 d-flex aling-items-center">
			                            	<label for="depart_id" class="col-form-label color-dark align-center">이용과</label>
		                                </div>
		                                <div class="col-sm-10">
			                                <select class="form-control b-light" id="depart_id" name="depart_id">
		                                		<option value="0">이용과 선택</option>
			                                	<th:block th:each="depart : ${department}">
			                                		<option th:value="${depart.depart_id}" th:text="${depart.department}"></option>
			                                	</th:block>
			                                </select>
			                            </div>
				            		</div>
				            		<div class="row mt-3">
				            			<div class="col-sm-2 d-flex aling-items-center">
			                            	<label for="storage_contents" class="col-form-label color-dark align-center">Comment</label>
		                                </div>
		                                <div class="col-sm-10">
			                                <textarea class="form-control" id="storage_contents" name="storage_contents" rows="10"></textarea>
			                            </div>
				            		</div>
				            		<div class="row mt-3">
				            			<div class="col-sm-2 d-flex aling-items-center">
			                            	<label class="col-form-label color-dark align-center">지도</label>
		                                </div>
		                                <div class="col-sm-10" id="modal_map" style="height: 300px;">
			                                
			                            </div>
				            		</div>
				            		<div class="button-group d-flex justify-content-end mt-2">
				            			<input type="hidden" id="storage_location" name="storage_location">
				            			<button type="button" class="btn btn-primary btn-default btn-squared" onclick="InsertStorage();">저장</button>
					           		</div>
				            	</form>
			            	</div>
			            </div>
			        </div>
			    </div>
			</div>
    	</div>
    </main>
    <!-- 공통 하단 -->
    <th:block th:include="/../fragments/footer.html"></th:block>
    <!-- 공통 js -->
    <th:block th:include="/../fragments/commonjs.html"></th:block>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	e93e65b3e9a407aa43d05f993408db95&libraries=clusterer,services"></script>
	<script type="text/javascript">
		const container = document.querySelector('#map');
		const modalContainer = document.querySelector('#modal_map');
		
	    const options = { 
	        center: new kakao.maps.LatLng(37.263599, 126.987598),
	        level: 3
	    };	    
		
 	    var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
 	    var map2;
 	    
		setTimeout(() => {
// 			map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴
		})
	    // 전송데이타 관련 변수들
	    let markers = [];
	    let coords = [];
		let __polygon;

	    function createMarker(lng, lat, map){
	        const markerPosition  = new kakao.maps.LatLng(lat, lng); 

	        // 마커를 생성합니다
	        const marker = new kakao.maps.Marker({
	            position: markerPosition
	        });

	        marker.setMap(map2);
	        markers.push(marker);
	        coords.push({ lat, lng })
	    }

	    function requestServer()
	    {
	        // $.ajax({ 
	        //     url: "http://localhost:8080/api/",
	        //     data: JSON.stringify({'coords': coords}),                        
	        //     method: "POST",            
	        //     dataType: "json"      
	        // }).done(function(json) {
	        //     console.log(json, "response")
	        // })        
	        // .fail(function(xhr, status, errorThrown) {
	        //    console.error(errorThrown)
	        // })              
	    }

	    // 배열에 추가된 마커들을 지도에 표시하거나 삭제하는 함수입니다
	    function clearMarkers(isRequest) {
	        for (var i = 0; i < markers.length; i++) {
	            markers[i].setMap(null);
	        }            

	        if (isRequest) {
	            requestServer();
	            markers = [];
// 	            coords = [];
	        } else {
	            markers = [];
	            coords = [];
	        }
	    }

	    // 이벤트 관련 변수들
	    var drawingFlag = false; 
	    var drawingPolygon; 
	    var polygon; 
	    var areaOverlay; 

	    
		$(document).ready(function()
		{
			SearchStorage(1);
		});
	
		//modal show
		function InsertBtn()
		{
			$("#storageOutModal").modal("show");

			setTimeout(() => {
				map2 = new kakao.maps.Map(modalContainer, options)
			kakao.maps.event.addListener(map2, 'click', function(mouseEvent) { 
		        // 마커 생성   
		        const coord = mouseEvent.latLng;
		        createMarker(coord.La, coord.Ma, map)    
		        
		        var clickPosition = mouseEvent.latLng; 
		        
		        // 지도 클릭이벤트가 발생했는데 다각형이 그려지고 있는 상태가 아니면
		        if (!drawingFlag) {
		            // 상태를 true로, 다각형을 그리고 있는 상태로 변경합니다
		            drawingFlag = true;
		            
		            // 지도 위에 다각형이 표시되고 있다면 지도에서 제거합니다
		            if (polygon) {  
		                polygon.setMap(null);      
		                polygon = null;  
		            }
		            
		            // 지도 위에 면적정보 커스텀오버레이가 표시되고 있다면 지도에서 제거합니다
		            if (areaOverlay) {
		                areaOverlay.setMap(null);
		                areaOverlay = null;
		            }
		        
		            // 그려지고 있는 다각형을 표시할 다각형을 생성하고 지도에 표시합니다
		            drawingPolygon = new kakao.maps.Polygon({
		                map: map2, // 다각형을 표시할 지도입니다
		                path: [clickPosition], // 다각형을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
		                strokeWeight: 3, // 선의 두께입니다 
		                strokeColor: '#00a0e9', // 선의 색깔입니다
		                strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
		                strokeStyle: 'solid', // 선의 스타일입니다
		                fillColor: '#00a0e9', // 채우기 색깔입니다
		                fillOpacity: 0.2 // 채우기 불투명도입니다
		            }); 
		            
		            // 그리기가 종료됐을때 지도에 표시할 다각형을 생성합니다 
		            polygon = new kakao.maps.Polygon({ 
		                path: [clickPosition], // 다각형을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다 
		                strokeWeight: 3, // 선의 두께입니다 
		                strokeColor: '#00a0e9', // 선의 색깔입니다   
		                strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
		                strokeStyle: 'solid', // 선의 스타일입니다
		                fillColor: '#00a0e9', // 채우기 색깔입니다
		                fillOpacity: 0.2 // 채우기 불투명도입니다
		            });

		            
		        } else { // 다각형이 그려지고 있는 상태이면 
		            
		            // 그려지고 있는 다각형의 좌표에 클릭위치를 추가합니다
		            // 다각형의 좌표 배열을 얻어옵니다
		            var drawingPath = drawingPolygon.getPath();
		        
		            // 좌표 배열에 클릭한 위치를 추가하고
		            drawingPath.push(clickPosition);
		            
		            // 다시 다각형 좌표 배열을 설정합니다
		            drawingPolygon.setPath(drawingPath);
		            
		        
		            // 그리기가 종료됐을때 지도에 표시할 다각형의 좌표에 클릭 위치를 추가합니다
		            // 다각형의 좌표 배열을 얻어옵니다
		            var path = polygon.getPath();
		        
		            // 좌표 배열에 클릭한 위치를 추가하고
		            path.push(clickPosition);
		            
		            // 다시 다각형 좌표 배열을 설정합니다
		            polygon.setPath(path);
		        }

		    });

		    // 지도에 마우스무브 이벤트를 등록합니다
		    // 다각형을 그리고있는 상태에서 마우스무브 이벤트가 발생하면 그려질 다각형의 위치를 동적으로 보여주도록 합니다
		    kakao.maps.event.addListener(map2, 'mousemove', function (mouseEvent) {

		        // 지도 마우스무브 이벤트가 발생했는데 다각형을 그리고있는 상태이면
		        if (drawingFlag){

		            // 마우스 커서의 현재 위치를 얻어옵니다 
		            var mousePosition = mouseEvent.latLng; 
		            
		            // 그려지고있는 다각형의 좌표배열을 얻어옵니다
		            var path = drawingPolygon.getPath();
		            
		            // 마우스무브로 추가된 마지막 좌표를 제거합니다
		            if (path.length > 1) {
		                path.pop();
		            } 
		            
		            // 마우스의 커서 위치를 좌표 배열에 추가합니다
		            path.push(mousePosition);

		            // 그려지고 있는 다각형의 좌표를 다시 설정합니다
		            drawingPolygon.setPath(path);
		        }             
		    });     

		    // 지도에 마우스 오른쪽 클릭 이벤트를 등록합니다
		    // 다각형을 그리고있는 상태에서 마우스 오른쪽 클릭 이벤트가 발생하면 그리기를 종료합니다
		    kakao.maps.event.addListener(map2, 'rightclick', function (mouseEvent) {

		        // 지도 오른쪽 클릭 이벤트가 발생했는데 다각형을 그리고있는 상태이면
		        if (drawingFlag) {
		            
		            // 그려지고있는 다각형을  지도에서 제거합니다
		            drawingPolygon.setMap(null);
		            drawingPolygon = null;  
		            
		            // 클릭된 죄표로 그릴 다각형의 좌표배열을 얻어옵니다
		            var path = polygon.getPath();
		        
		            // 다각형을 구성하는 좌표의 개수가 3개 이상이면 
		            if (path.length > 2) {
		                
		                // 지도에 다각형을 표시합니다
		                polygon.setMap(map2); 

		                var area = Math.round(polygon.getArea()), // 다각형의 총면적을 계산합니다
		                    // content = '<div class="info">총면적 <span class="number"> ' + area + '</span> m<sup>2</sup></div>'; // 커스텀오버레이에 추가될 내용입니다
		                    
		                // 면적정보를 지도에 표시합니다
		                areaOverlay = new kakao.maps.CustomOverlay({
		                    map: map2, // 커스텀오버레이를 표시할 지도입니다 
		                    content: "",  // 커스텀오버레이에 표시할 내용입니다
		                    xAnchor: 0,
		                    yAnchor: 0,
		                    position: path[path.length-1]  // 커스텀오버레이를 표시할 위치입니다. 위치는 다각형의 마지막 좌표로 설정합니다
		                });      
		                clearMarkers(true)
		                
		            } else { 
		                
		                // 다각형을 구성하는 좌표가 2개 이하이면 다각형을 지도에 표시하지 않습니다 
		                polygon = null;  
		                clearMarkers()
		            }
		            
		            // 상태를 false로, 그리지 않고 있는 상태로 변경합니다
		            drawingFlag = false;          
		        }  
		    });    
			}, 150)
		}
		
		function InsertStorage()
		{
			const location = $("#storage_location");
			const coords_data = coords;			
			
			location.val(JSON.stringify(coords_data));
			coords = [];
			
			var storage_name = $("#storage_name").val();
			var storage_type = $("#storage_type").val();
			var storage_location = $("#storage_location").val();
			
			if(storage_name == "")
			{
				alert("위치를 입력하세요.");
			}
			else if(storage_type == 9)
			{
				alert("장소유형을 입력하세요.");
			}
			else if(storage_location.length == 2)
			{
				alert("지도에서 영역을 정하세요.");
			}
			else
			{
				$("#insertForm").submit();
			}
		}
		
		function SearchStorage(e)
		{
			var data = {"page_num" : e};
			
			$.ajax(
			{
				url : 'storage/searchStorage',
				method : 'POST',
				dataType : 'json',
				data : data,
				success : function(result)
				{
					var storage_list = $("#storage_list");
					var add_list = "";
					
					var pageNum = $("#pageNum");
					var page_add = "";
					
					for(var i = 0; i < result.storage.length; i++)
					{
						// add_list += '<tr class="storage_tr" data-coord="' + result.storage[i].storage_location + '">';
						// add_list += '<td><span>' + result.storage[i].storage_code + '</span></td>';
						// add_list += '<td><span>' + result.storage[i].storage_name + '</span></td>';
						// add_list += '<td><span>' + result.storage[i].storage_division + '</span></td>';
						// add_list += '<td><span>' + result.storage[i].storage_size + '</span></td>';
						// add_list += '<td><span>' + result.storage[i].department + '</span></td>';
						// add_list += '</tr>';						
						add_list += `
						  <tr class='storage_tr' data-coord='${result.storage[i].storage_location}'>
							<td><span>${result.storage[i].storage_code}</span></td>
							<td><span>${result.storage[i].storage_name}</span></td>
							<td><span>${result.storage[i].storage_division}</span></td>
							<td><span>${result.storage[i].storage_size}</span></td>
							<td><span>${result.storage[i].department}</span></td>
						  </tr>';
						`
					}

					if(result.page_num > 10)
					{
						page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchStorage(' + (result.start_page - 10) + ')"><</button>';
					}
					
					for(var i = (result.start_page - 1); i < (result.start_page + 9); i++)
					{
						if(result.page_num == (i + 1))
						{
							page_add += '<button class="atbd-pagination__link active" onclick="SearchStorage(' + (i + 1) + ')">' + (i + 1) + '</button>';
						}
						else if(i >= result.end_page)
						{
							
						}
						else
						{
							page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchStorage(' + (i + 1) + ')">' + (i + 1) + '</button>';
						}
					}
					
					if(result.page_num < (result.end_page - 10))
					{
						page_add += '<button class="atbd-pagination__link pagination-control" onclick="SearchStorage(' + (result.start_page + 10) + ')">></button>';
					}
					
					storage_list.empty();
					storage_list.append(add_list);
					
					pageNum.empty();
					pageNum.append(page_add);
					
					$(".storage_tr").click(function(){
						const targetCoord = $(this).data('coord');
						const lat = targetCoord[0].lat;
						const lng = targetCoord[0].lng;
						const position = new kakao.maps.LatLng(lat, lng)
						map.panTo(position);
						__polygon?.setMap(null);

						const linePath = [];
						targetCoord.forEach((v, i) => {
							const position = new kakao.maps.LatLng(v.lat, v.lng);
							linePath.push(position);
						})

						// 지도에 표시할 선을 생성합니다
						
						const polyline = new kakao.maps.Polygon({
							path: linePath, // 선을 구성하는 좌표배열 입니다
							strokeWeight: 3, // 선의 두께입니다
							strokeColor: '#fff', // 선의 색깔입니다
							strokeOpacity: 0.2, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
							strokeStyle: 'longdash', // 선의 스타일입니다
							fillColor: '#4347d9', // 채우기 색깔입니다
							fillOpacity: 0.5 // 채우기 불투명도 입니다
						});

						// 지도에 선을 표시합니다 
						polyline.setMap(map);
						__polygon = polyline;
					});
				}
			});
		}
	</script>
</body>
</html>