<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
	
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDduF2tLXicDEPDMAtC6-NLOekX0A5vlnY"></script>
    <!-- inject:js-->
    <script th:src="@{/assets/vendor_assets/js/jquery/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery/jquery-ui.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/bootstrap/popper.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/moment/moment.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/accordion.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/autoComplete.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/Chart.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/charts.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/daterangepicker.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/drawer.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/dynamicBadge.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/dynamicCheckbox.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/feather.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/footable.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/fullcalendar@5.2.0.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/google-chart.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery-jvectormap-2.0.5.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery-jvectormap-world-mill-en.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery.filterizr.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery.mCustomScrollbar.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery.peity.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/jquery.star-rating-svg.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/leaflet.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/leaflet.markercluster.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/loader.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/message.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/moment.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/muuri.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/notification.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/popover.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/select2.full.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/slick.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/trumbowyg.base64.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/trumbowyg.min.js}"></script>
    <script th:src="@{/assets/vendor_assets/js/wickedpicker.min.js}"></script>
    <script th:src="@{/assets/theme_assets/js/drag-drop.js}"></script>
    <script th:src="@{/assets/theme_assets/js/footable.js}"></script>
    <script th:src="@{/assets/theme_assets/js/full-calendar.js}"></script>
    <script th:src="@{/assets/theme_assets/js/googlemap-init.js}"></script>
    <script th:src="@{/assets/theme_assets/js/icon-loader.js}"></script>
    <script th:src="@{/assets/theme_assets/js/jvectormap-init.js}"></script>
    <script th:src="@{/assets/theme_assets/js/leaflet-init.js}"></script>
    <script th:src="@{/assets/theme_assets/js/main.js}"></script>
    <!-- endinject-->
    
<script type="text/javascript">

	//해당 페이지 탭 active css 주기
	var pathname = window.location.pathname;
	var pathArray = pathname.split("/");
	
	if(pathArray[1] == "method")
	{
		$("#" + pathArray[1]).addClass("active");
		$("."+pathArray[1]).addClass("active");
	}
	else if(pathArray[1] == "plan")
	{
		$("#"+pathArray[1]).addClass("active");
		
		if(pathArray[2] == "list")
		{
			$("."+pathArray[2]).addClass("active");
		}
		else
		{
			$("."+pathArray[2]).addClass("active");
		}
	}
	else if(pathArray[1] == "schedule")
	{
		$("#"+pathArray[1]).addClass("active");
		
		if(pathArray[2] == "list")
		{
			$("."+pathArray[2]).addClass("active");
		}
		else
		{
			$("."+pathArray[2]).addClass("active");
		}
	}
	else
	{
		$("#" + pathArray[1]).addClass("active");
		
		if(pathArray[2] != null)
		{
			$("."+pathArray[2]).addClass("active");
		}
	}
	
	
	//알림에 노출할 plan 데이터 가져오기
	$.ajax({
		url : "/selectNonReadPlan",
		method: "GET",
		success : function(result){
			console.log(result);
			$("#alarm_count").text(result.length);
			let alarm_list = $("#alarm_list");
			
			var add_list = "";
			
			for(var i = 0; i < result.length; i++){
				add_list += '<li class="nav-notification__single nav-notification__single--unread d-flex flex-wrap">';
				add_list += '<div class="nav-notification__type nav-notification__type--secondary">';
				add_list += '<span class="data-calendar" data-feather="calendar"></span>';
				add_list += '</div>';
				add_list += '<div class="nav-notification__details">';
				add_list += '<p>';
				add_list += '<a href="javascript:readPlan('+result[i].plan_id+');" class="subject stretched-link text-truncate" style="max-width: 180px;">'+result[i].plan_code+'</a>';
				add_list += '</p>';
				add_list += '<p>';
				add_list += '<span class="time-posted">담당자: '+result[i].user_name_k+'</span>';
				add_list += '</p>';
				add_list += '<p>';
				add_list += '<span class="time-posted">조사항목: '+result[i].method_title+'</span>';
				add_list += '</p>';
				add_list += '</div>';
				add_list += '</li>';
			}//end for
			
			alarm_list.empty();
			alarm_list.append(add_list);
			
			$(document).find(".data-calendar").each(function(index, item){
				$(this).attr("data-feather", "calendar");
			});
			
		}//end success
	});
	
	//알람 내 재배계획 클릭시 이벤트
	function readPlan(plan_id){
		
		$.ajax({
			url : "/updatePlanRead?plan_id="+plan_id,
			method: "GET",
			success : function(result){
				window.location.href = "/plan/insertResult?plan_id="+plan_id;
			}
		});
		
	}
	
</script>
</html>