<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:with=" user = ${#authentication.principal}">
<style>

*{
	font-size: 13px !important;
}
.navbar-left .navbar-brand{
	font-size: 20px !important;
}
.strikingDash-top-menu ul li{
	font-size: 14px !important;
}
.strikingDash-top-menu ul li span{
	font-size: 14px !important;
}
.strikingDash-top-menu ul li a{
	font-size: 14px !important;
}
#step6 .top1, #step6 .top2, #step6 .top3, #step6 .top4, #step6 #step6_inner ul{
	padding-top: 20px !important;
}
.list-group-item{ margin-bottom: 2px !important;}

</style>
	<header class="header-top">
        <nav class="navbar navbar-light">
            <div class="navbar-left">
                <a class="navbar-brand" href="/home">Digital DataBook</a>
                <!-- <form action="/" class="search-form">
                    <span data-feather="search"></span>
                    <input class="form-control mr-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
                </form> -->
                <div class="top-menu">
                    <div class="strikingDash-top-menu position-relative">
                        <ul>
                            <li>
                                <a href="/home" class="home" id="home">
                                	<span data-feather="home" class="nav-icon"></span>
		                            <span class="menu-text">홈</span>
                                </a>
                            </li>                            
                             <li class="has-subMenu">
                                <a href="/data/report" id="data">
                                	<span data-feather="layers" class="nav-icon"></span>
		                            <span class="menu-text">기초정보</span>
                                </a>
                                <ul class="subMenu">
                                	<li>
                                        <a href="/data/report" class="report">과제</a>
                                    </li>
                                    <li>
                                        <a href="/data/seed" class="seed">종자(시료)</a>
                                    </li>
                                    <li th:if="${user.user_authority == 'ADMIN'}">
                                        <a href="/data/storage" class="storage">시험장소</a>
                                    </li>
                                    <li>
                                        <a href="/data/research" class="research">조사방법</a>
                                    </li>
                                    <li>
                                        <a href="/data/reagent" class="reagent">시약 · 농약 · 비료</a>
                                    </li>
                                    <li>
                                        <a href="/data/machine" class="machine">장비 · 물품</a>
                                    </li>
                                    <li th:if="${user.user_authority == 'ADMIN'}">
                                        <a href="/data/material" class="material">기타(농자재)</a>
                                    </li>
                                    <li>
                                        <a href="/data/user" class="user">사용자</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-subMenu">
                                <a href="/method/list" id="method">
                                	<span data-feather="list" class="nav-icon"></span>
		                            <span class="menu-text">프로토콜</span>
                                </a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="/method/list" class="method">재배 프로토콜</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-subMenu">
                                <a href="/plan/list" id="plan">
                                	<span data-feather="sun" class="nav-icon"></span>
		                            <span class="menu-text">재배관리</span>
                                </a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="/plan/list" class="list">계획수립</a>
                                    </li>
                                    <li>
                                        <a href="/plan/result/list" class="result">결과입력</a>
                                    </li>
                                </ul>
                           </li>
                           <li class="has-subMenu">
                                <a href="/schedule/month" id="schedule">
                                	<span data-feather="calendar" class="nav-icon"></span>
		                            <span class="menu-text">일정관리</span>
                                </a>
                                <ul class="subMenu">
                                    <li>
                                        <a href="/schedule/month" class="month">월간 일정</a>
                                    </li>
                                    <li>
                                        <a href="/schedule/board" class="">전달 사항</a>
                                    </li>
                                    <li>
                                        <a href="/schedule/listResultSchedule" class="">연구 노트</a>
                                    </li>
                                    <li>
                                        <a href="/schedule/listResultReport" class="">결과 보고서</a>
                                    </li>
                                </ul>
                           </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="navbar-right">
                <ul class="navbar-right__menu">
                    <!-- <li class="nav-search d-none">
                        <a href="" class="search-toggle">
                            <i class="la la-search"></i>
                            <i class="la la-times"></i>
                        </a>
                        <form action="/" class="search-form-topMenu">
                            <span class="search-icon" data-feather="search"></span>
                            <input class="form-control mr-sm-2 box-shadow-none" type="search" placeholder="Search..." aria-label="Search">
                        </form>
                    </li> -->
                    <li class="nav-notification">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle">
                                <span data-feather="bell"></span></a>
                            <div class="dropdown-wrapper">
                                <h2 class="dropdown-wrapper__title">확인해야할 계획<span class="badge-circle badge-warning ml-1" id="alarm_count"></span></h2>
                                <h1 class="dropdown-wrapper__title" onclick="window.location.href='/readAllAlarm';" >전체 읽음 처리</h1>
                                <ul id="alarm_list">
                                   
                                </ul>
                                <a href="/schedule/month" class="dropdown-wrapper__more">일정 현황</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-author">
                        <div class="dropdown-custom">
                            <a href="javascript:;" class="nav-item-toggle"><img src="/img/author-nav.jpg" alt="" class="rounded-circle"></a>
                            <div class="dropdown-wrapper">
                                <div class="nav-author__info">
                                    <div class="author-img">
                                        <img src="/img/author-nav.jpg" alt="" class="rounded-circle">
                                    </div>
                                    <div>
                                        <h6 th:text="${#authentication.principal.user_name_k}"></h6>
                                        <span th:text="${#authentication.principal.user_level}"></span>
                                    </div>
                                </div>
                                <div class="nav-author__options">
                                    <ul>
                                        <li>
                                            <a th:href="'/data/user/modify?user_id='+${#authentication.principal.user_id}">
                                                <span data-feather="settings"></span> 사용자 정보 변경</a>
                                        </li>
                                    </ul>
                                    <a href="/logout" class="nav-author__signout">
                                        <span data-feather="log-out"></span> Sign Out</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
				<div class="navbar-right__mobileAction d-md-none">
					<a href="" class="btn-search">
						<span data-feather="search"></span>
						<span data-feather="x"></span>
					</a>
					<a href="" class="btn-author-action">
						<span data-feather="more-vertical"></span>
					</a>
				</div>
			</div>
		</nav>
	</header>
</html>