<!doctype html>
<html lang="en" dir="ltr"
	xmlns:th="http://www.thymeleaf.org">

<head>
<style>
	.content-header{margin-top:30px;}
	.end-button
	{
		width:85px;
		height:40px;
		background-color:#768BF5;
		border:0px;
		margin-top:-15px;
	}
	.end{margin-left:10px;}
	[id *="_popup"]{
		width:100vw; 
		height:90vh; 
		position:fixed; 
		left:0px; 
		top:0px; 
		display:none; 
		justify-content: center; 
		align-items:center; 
		z-index: 999999;
	}
	[id *="_popup"] > .card.card-default.card-md.mb-4{
		border:1px solid #eee;
		width:400px;
		max-width: 400px;
	}
</style>
<!-- 공통 헤더 -->
<th:block th:include="/../fragments/header.html"></th:block>

</head>

<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	
	<div class="mobile-author-actions"></div>
	
	<!-- 공통 topbar -->
	<th:block th:include="/../fragments/topbar.html"></th:block>
	
	<main class="main-content" style="background-color: #F9FBFD;">
	
		<div class="contents" style="background-color: #F9FBFD;">
    
		    <div class="container-fluid" style="padding: 0 50px;">
		    	<div class="row">
			        <div class="col-lg-12" style="padding: 0 17px;">
			        	<div class="breadcrumb-main" style="float: left; padding:0;">
			        		<h4 class="text-capitalize breadcrumb-title">기타(농자재)</h4>
			        		<span class="ml-20 mt-1">기초정보 - 기타(농자재)</span>
			        	</div>
			        </div>
		        </div>
		    	<div class="row" style="display: flex;justify-content: center;">
			        <div class="col-lg-12">
			        	<div class="card">
			        		<div class="card-body">
		        				<div class="row">
		        					<div class="col-sm-2 d-flex aling-items-center">
		                            	<label for="material_name" class="col-form-label color-dark align-center"><span class="red">*</span>항목명</label>
	                                </div>
	                                <div class="col-sm-5">
	                                   <input autocomplete="off"  type="text" class="form-control b-light" id="material_name" >
	                                </div>
		                         </div>
		                         <br>
		                         <div class="row">
		        					<div class="col-sm-2 d-flex aling-items-center">
		                            	<label for="material_name" class="col-form-label color-dark align-center"><span class="red">*</span>구입연도</label>
	                                </div>
	                                <div class="col-sm-5">
	                                   <select class="form-control b-light" name="buy_date" id="buy_date">
	                                   		<option value="">구입년도</option>	
	                                   		<option th:each="i: ${#numbers.sequence(1980,2022)}" th:text="${i}" th:value="${i}"></option>	
	                                   </select>
	                                </div>
		                         </div>
		                         <br>
		                         <div class="row">
		        					<div class="col-sm-2 d-flex aling-items-center">
		                            	<label for="material_name" class="col-form-label color-dark align-center"><span class="red">*</span>제조사</label>
	                                </div>
	                                <div class="col-sm-5">
	                                   <input autocomplete="off"  type="text" class="form-control b-light" id="material_company" name='material_company' >
	                                </div>
		                         </div>
		                         <br>
			        		</div>
			        	</div>
			        </div>
		        </div>
		        <div class="row">
					<div class="col-4">
						<div class="action-btn d-flex justify-content-frist mt-30"></div>
					</div>
					<div class="col-4">
						<div class="d-flex justify-content-center mt-30"></div>
					</div>
					<div class="col-4">
						<div class="action-btn d-flex justify-content-end mt-30">
							<a href="/data/material" class="btn btn-primary end-button end" style="background-color:#E2E3E5;">목록</a>
							<button type="button" class="btn btn-primary end-button end" onclick="insertBtn();">등록</button>
						</div>
					</div>
				</div>
		        <div class="atbd-notice" id="success_popup">
		        	<div class="card card-default card-md mb-4">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-success">
		        						<i class="fas fa-check color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>등록이 완료되었습니다.</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<a class="btn btn-default btn-success" href="/data/material" style="color: #FFFFFF;">확인</a>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		    </div>
     
     	</div>
     
     </main>
     
     <!-- 공통 하단 -->
    <th:block th:include="/../fragments/footer.html"></th:block>
    <!-- 공통 js -->
    <th:block th:include="/../fragments/commonjs.html"></th:block>

<script type="text/javascript">
	
	//농자재 등록
	function insertBtn(){
		
		var material_name = $.trim($("#material_name").val());
		var buy_date = document.querySelector("#buy_date").value.trim();
		var material_company = document.querySelector("#material_company").value.trim();
		
		if(material_name == ""){
			alert("항목명을 입력하세요.");
			$("#material_name").focus();
		}else if(buy_date == ""){
			alert("구입년도 선택하세요.");
		}else if(material_company == ""){
			alert("제조사 입력하세요.");
		}else{
			var data = {
						"material_name" : material_name,
						"buy_date" : buy_date,
 						"material_company" : material_company
						};
			
			$.ajax({
				url : "/data/material/insertMaterial",
				method : "POST",
				dataType : "json",
				data : data,
				success : function(result){
					if(result == 0){
						
					}else {
						$("#success_popup").css("display", "flex");
					}
				}
			});//end ajax
		}//end else
		
	}//end 농자재 등록
	
</script>

</body>

</html>