<!doctype html>
<html lang="en" dir="ltr"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<style>
	.content-header{margin-top:30px;}
	.end-button
	{
		width:85px;
		height:40px;
		background-color:#768BF5;
		border:0px;
		margin-top:-15px;
	}
	.end{margin-left:10px;}
	
	.select-hide{
		display: none;
	}
	.select-show{
		display: block;
	    position: absolute;
	    z-index :10;
	    top: 30px;
	    width: 97.5%;
	    background-color: white;
	    border:1px solid;
	    border-radius: 5px;
	    cursor: pointer;
	    overflow-y: auto;
	    height: 125px;
	}

	.select .select-show li{
	    padding:0 0 0 5px;
	    line-height: 30px;
	}
	
</style>
<!-- 공통 헤더 -->
<th:block th:include="/../fragments/header.html"></th:block>

</head>

<body class="layout-light top-menu overlayScroll">
	<div class="mobile-search"></div>
	
	<div class="mobile-author-actions"></div>
	
	<!-- 공통 topbar -->
	<th:block th:include="/../fragments/topbar.html"></th:block>
	
	<main class="main-content" style="background-color: #F9FBFD;">
	
		<div class="contents" style="background-color: #F9FBFD;">
    
		    <div class="container-fluid">
		    	<div class="row">
			        <div class="col-lg-12">
			        	<div class="breadcrumb-main" style="float: left;">
			        		<h4 class="text-capitalize breadcrumb-title">종자(시료)</h4>
			        		<span class="ml-20 mt-1">기초정보-종자(시료)</span>
			        	</div>
			        </div>
		        </div>
		    	<div class="row">
			        <div class="col-lg-12">
			        	<form action="#">
				        	<div class="card">
				        		<div class="card-body">
				        			<div class="row">
				        				<div class="col-sm-2 checkbox-theme-default custom-checkbox">
				        					<input type="checkbox" id="not_report" class="checkbox">
				        					<label for="not_report">
				        						<span class="checkbox-text color-dark">과제 비연계</span>
				        					</label>
				        				</div>
				        			</div>
			        				<div class="row">
			        					<div class="col-sm-2 d-flex aling-items-center">
			                                   <label for="report_year" class="col-form-label color-dark align-center" style="align-items: self-start">과제명</label>
		                                </div>
		                                <div class="col-sm-8">
		                                	<div class="select" style="height: auto;">
		                                		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control" id="report_code" placeholder="과제 선택" autocomplete="off">
		                                		<ul class="select-hide">
		                                			<th:block th:each="report : ${report}">
		                                				<li class="report_list" onclick="selectOpt(this);">
		                                					<span th:data-value="${report.report_code}" th:text="${report.report_title +'('+ report.report_code} +')'"></span>
		                                				</li>
		                                			</th:block>
		                                		</ul>
		                                	</div>
		                                   <!-- <select class="form-control b-light" id="report_code">
			                                <option th:value="none">과제 선택</option>
			                                <th:block th:each="report : ${report}">
			                                	<option th:value="${report.report_code}" th:text="${report.report_title +'('+ report.report_code} +')'"></option>
			                                </th:block>
			                               </select> -->
		                                </div>
			                         </div>
			                         <div class="row mt-3">
			        					<div class="col-sm-2 d-flex aling-items-center">
			                            	<label for="seed_report" class="color-dark align-center">과제설명</label>
			                            </div>
			                            <div class="col-sm-8">
			                                <textarea class="form-control" id="seed_report" rows="5"></textarea>
			                            </div>
			                    	</div>
				        		</div>
				        	</div>
				        	<div class="card mt-4">
				        		<div class="card-body">
				        			<div class="columnGrid-wrapper">
					        			<div class="row">
				        					<div class="col-12" id="seed_form">
				        						<div class="card card-bordered form-standard">
					        						<div class="card-body ml-2 mt-3">
					        							<div class="row">
					        								<div class="col-11 col-md-11 col-lg-11">
						        								<div class="col-12 ml-1">
															        <div class="row">
															        	<div style="font-size: 17px; color: initial;">종자 및 시료관리</div>
															        </div>
														        </div>
							        							<div class="col-12">
							        								<div class="row mt-1">
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
							        										<label class="color-dark fw-500 align-center mt-1">품종/유전자원정보<span style="color: red;">*</span></label>
							        									</div>
							        									<div class="col-md-4 mb-25">
							        										<input type="text" class="form-control b-light genetic_id" style="float: left; width: 315px;" readonly="readonly">
							        										<label class="btn btn-light genetic_show">조회</label>
							        									</div>
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
										                                    <label for="seed_manager" class="color-dark fw-500 align-center">담당자<span style="color: red;">*</span></label>
										                                </div>
										                                <div class="col-md-4 mb-25">
										                                	<div class="select" style="height: auto;">
											                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control seed_manager" id="seed_manager" placeholder="담당자 선택" autocomplete="off">
											                            		<ul class="select-hide">
											                            			<th:block th:each="user : ${user}">
											                            				<li class="seed_manager_list" onclick="selectOpt(this);"><span th:data-value="${user.user_id}" th:text="${user.user_name_k}"></span></li>
											                            			</th:block>
											                            		</ul>
											                            	</div>
							        										<!-- <select class="form-control b-light seed_manager" id="seed_manager">
												                                <option disabled="disabled" selected="selected" hidden="hidden">담당자 선택</option>
												                                <th:block th:each="user : ${user}">
												                                	<option th:value="${user.user_id}" th:text="${user.user_name_k}"></option>
												                                </th:block>
												                            </select> -->
							        									</div>
							        								</div>
							        								<div class="row">
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
							        										<label for="seed_area" class="color-dark fw-500 align-center mt-1">생산지역<span style="color: red;">*</span></label>
							        									</div>
							        									<div class="col-md-4 mb-25">
							        										<input type="text" class="form-control b-light seed_area" id="seed_area">
							        									</div>
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
										                                    <label for="seed_year" class="color-dark fw-500 align-center">생산연도<span style="color: red;">*</span></label>
										                                </div>
										                                <div class="col-md-4 mb-25">
							        										<input type="number" class="form-control b-light seed_year" id="seed_year">
							        									</div>
							        								</div>
							        								<div class="row">
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
							        										<label for="seed_method" class="color-dark fw-500 align-center mt-1">생산방법</label>
							        									</div>
							        									<div class="col-md-4 mb-25">
							        										<div class="select" style="height: auto;">
											                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control seed_method" id="seed_method" placeholder="생산방법 선택" autocomplete="off">
											                            		<ul class="select-hide">
											                            			<li class="seed_method_list" onclick="selectOpt(this);"><span data-value="시험연구">시험연구</span></li>
											                            			<li class="seed_method_list" onclick="selectOpt(this);"><span data-value="증식">증식</span></li>
											                            			<li class="seed_method_list" onclick="selectOpt(this);"><span data-value="구매">구매</span></li>
											                            			<li class="seed_method_list" onclick="selectOpt(this);"><span data-value="외부농가">외부농가</span></li>
											                            		</ul>
											                            	</div>
							        										<!-- <select class="form-control b-light seed_method" name="seed_method">
												                                <option value="">생산 방법 선택</option>
												                                <option value="시험연구">시험연구</option>
												                                <option value="증식">증식</option>
												                                <option value="구매">구매</option>
												                                <option value="외부농가">외부농가</option>
												                            </select> -->
							        									</div>
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
										                                    <label for="seed_amount" class="color-dark fw-500 align-center">수량(개수)<span style="color: red;">*</span></label>
										                                </div>
										                                <div class="col-md-2 mb-25">
							        										<input type="number" class="form-control b-light seed_amount" id="seed_amount">
							        									</div>
							        									<div class="col-md-2 mb-25">
							        										<div class="select" style="height: auto;">
											                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control eaches_id" id="eaches_id" placeholder="단위 선택" autocomplete="off">
											                            		<ul class="select-hide" style="width: 89%;">
											                            			<th:block th:each="eaches : ${eaches}">
											                            				<li class="eaches_id_list" onclick="selectOpt(this);"><span th:data-value="${eaches.eaches_id}" th:text="${eaches.eaches_name}"></span></li>
											                            			</th:block>
											                            		</ul>
											                            	</div>
							        										<!-- <select class="form-control b-light eaches_id" name="each" id="eaches_id">
												                                <option disabled="disabled" selected="selected" hidden="hidden">단위 선택</option>
												                                <th:block th:each="eaches : ${eaches}">
												                                	<option th:value="${eaches.eaches_id}" th:text="${eaches.eaches_name}"></option>
												                                </th:block>
												                            </select> -->
							        									</div>
							        								</div>
							        								<div class="row">
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
							        										<label for="ware_id" class="color-dark fw-500 align-center mt-1">저장장소<span style="color: red;">*</span></label>
							        									</div>
							        									<div class="col-md-4 mb-25">
							        										<div class="select" style="height: auto;">
											                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control ware_id" id="ware_id" placeholder="저장 장소 선택" autocomplete="off">
											                            		<ul class="select-hide">
											                            			<th:block th:each="ware : ${warehouse}">
											                            				<li class="eaches_id_list" onclick="selectOpt(this);"><span th:data-value="${ware.ware_id}" th:data-condition="${ware.ware_condition}" th:text="${ware.warehouse}"></span></li>
											                            			</th:block>
											                            		</ul>
											                            	</div>
							        										<!-- <select class="form-control b-light ware_id" name="ware_id" id="ware_id">
												                                <option disabled="disabled" selected="selected" hidden="hidden">저장 장소 선택</option>
												                                <th:block th:each="ware : ${warehouse}">
												                                	<option th:value="${ware.ware_id}" th:data-condition="${ware.ware_condition}" th:text="${ware.warehouse}"></option>
												                                </th:block>
												                            </select> -->
							        									</div>
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
										                                    <label for="ware_condition" class="color-dark fw-500 align-center">저장조건</label>
										                                </div>
										                                <div class="col-md-4 mb-25">
							        										<input type="text" class="form-control b-light ware_condition" id="ware_condition" readonly="readonly">
							        									</div>
							        								</div>
							        								<div class="row">
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
							        										<label for="seed_comment" class="color-dark fw-500 align-center">Comment</label>
							        									</div>
							        									<div class="col-md-10 mb-25">
							        										<textarea class="form-control seed_comment" id="seed_comment" rows="5"></textarea>
							        									</div>
							        								</div>
							        							</div>
							        							<div class="col-12 ml-1">
															        <div class="row">
															        	<div style="font-size: 17px; color: initial;">기타정보</div>
															        </div>
														        </div>
														        <div class="col-12">
							        								<div class="row mt-1">
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
										                                    <label for="seed_sender" class="color-dark fw-500 align-center">발송인 정보</label>
										                                </div>
										                                <div class="col-md-4 mb-25">
							        										<input type="text" class="form-control b-light seed_sender" id="seed_sender">
							        									</div>
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
							        										<label for="seed_sender" class="color-dark fw-500 align-center mt-1">수취인 정보</label>
							        									</div>
							        									<div class="col-md-4 mb-25">
							        										<div class="select" style="height: auto;">
											                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control seed_receiver" id="seed_receiver" placeholder="수취인 선택" autocomplete="off">
											                            		<ul class="select-hide">
											                            			<th:block th:each="user : ${user}">
											                            				<li class="seed_manager_list" onclick="selectOpt(this);"><span th:data-value="${user.user_id}" th:text="${user.user_name_k}"></span></li>
											                            			</th:block>
											                            		</ul>
											                            	</div>
							        										<!-- <select class="form-control b-light seed_receiver" name="seed_receiver" id="seed_receiver">
												                                <option th:value=0>수취인 선택</option>
												                                <th:block th:each="user : ${user}">
												                                	<option th:value="${user.user_id}" th:text="${user.user_name_k}"></option>
												                                </th:block>
												                            </select> -->
							        									</div>
							        								</div>
							        								<div class="row">
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
										                                    <label class="color-dark fw-500 align-center mt-1">발송일자</label>
										                                </div>
										                                <div class="col-md-4 mb-25">
							        										<input type="text" class="form-control b-light send_date send-datepicker0">
							        									</div>
							        									<div class="col-md-2 mb-25 d-flex aling-items-center">
							        										<label class="color-dark fw-500 align-center mt-1">수취일자</label>
							        									</div>
							        									<div class="col-md-4 mb-25">
							        										<input type="text" class="form-control b-light receive_date receive-datepicker0">
							        									</div>
							        								</div>
							        								<div class="row">
												        				<div class="col-sm-2 mb-4">
												        					<input type="checkbox" class="seed_share" th:value="0">
												        					<label>
												        						<span class="color-dark" th:text="${#authentication.principal.d3_department_name} + | 공유|"></span>
												        					</label>
												        				</div>
												        			</div>
							        							</div>
						        							</div>
						        							<div class="col-1 col-md-1 col-lg-1 del_btn_div">
						        								
						        							</div>
					        							</div>
					        						</div>
					        					</div>
				        					</div>
			                        	</div>
			                    	</div>
				        		</div>
				        		<div class="d-flex justify-content-end mr-20 mb-20">
				                	<a class="btn btn-default" id="addseedFormBtn" style="background-color: #64DB99; color: white;">+추가</a>
				                </div>
				        	</div>
			        	</form>
			        </div>
		        </div>
		        <div class="row">
					<div class="col-4">
						<div class="action-btn d-flex justify-content-frist mt-30"></div>
					</div>
					<div class="col-4">
						<div class="d-flex justify-content-center mt-30"></div>
					</div>
					<div class="col-4">
						<div class="action-btn d-flex justify-content-end mt-30">
							<a href="/data/seed" class="btn btn-primary end-button end">목록</a>
							<button type="button" class="btn btn-primary end-button end" onclick="insertBtn();">등록</button>
						</div>
					</div>
				</div>
		        <div class="atbd-notice" id="success_popup" style="width:100vw; height:90vh; position:fixed; left:0px; top:0px; display:none; justify-content: center; align-items:center;">
		        	<div class="card card-default card-md mb-4" style="border:1px solid #eee; width: 30%; height: 40%;">
		        		<div class="card-body">
		        			<div class="atbd-notice__content">
		        				<div class="atbd-notice__top text-center">
		        					<div class="atbd-notice__icon bg-success">
		        						<i class="fas fa-check color-white"></i>
		        					</div>
		        					<div class="atbd-notice__text">
		        						<h4>등록이 완료되었습니다.</h4>
		        					</div>
		        					<div style="display: flex; justify-content: center; margin: 10% auto;">
		        						<a class="btn btn-default btn-success" href="/data/seed" style="color: #FFFFFF;">확인</a>
		        					</div>
		        				</div>
		        			</div>
		        		</div>
		        	</div>
		        </div>
		    </div>
		    
		    <!-- 품종/유전정보 선택 modal -->
		    <div class="modal-basic modal fade show" id="geneticModal" tabindex="-1" role="dialog" aria-hidden="true">
			    <div class="modal-dialog modal-xl" role="document">
			        <div class="modal-content modal-bg-white">
			        	<div class="modal-header">
			        		<h6 class="modal-title">품종/유전정보 선택</h6>
		                    	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                        	<span data-feather="x"></span>
		                        </button>
			        	</div>
			            <div class="modal-body">
			            	<div class="col-12">
				            	<div class="row">
				            		<div class="col-md-2 d-flex aling-items-center">
	                                    <label class="color-dark align-center">품종/유전정보 선택</label>
	                                </div>
				            		<div class="col-md-4">
					            		<div class="radio-horizontal-list d-flex">
					            			<div class="radio-theme-default custom-radio">
					            				<input class="radio" type="radio" name="radio" value=0 id="division_radio" checked="checked">
	                                            <label for="division_radio">
	                                                <span class="radio-text">품종</span>
	                                            </label>
					            			</div>
					            			<div class="radio-theme-default custom-radio">
					            				<input class="radio" type="radio" name="radio" value=1 id="genetic_radio">
	                                            <label for="genetic_radio">
	                                                <span class="radio-text">유전자원명</span>
	                                            </label>
					            			</div>
					            			<div class="radio-theme-default custom-radio">
					            				<input class="radio" type="radio" name="radio" value=2 id="etc_radio">
	                                            <label for="etc_radio">
	                                                <span class="radio-text">기타</span>
	                                            </label>
					            			</div>
					            		</div>
				            		</div>
				            	</div>
				            	<div class="row mt-2" id="division_row">
				            		<div class="col-md-2 mb-25 d-flex aling-items-center">
   										<label for="division_slt" class="color-dark fw-500 align-center mt-1" style="align-items: self-start">작목</label>
   									</div>
     								<div class="col-md-4 mb-25">
     									<div class="select" style="height: auto;">
		                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control division_slt" id="division_slt" placeholder="대상 작목 선택" autocomplete="off">
		                            		<ul class="select-hide">
		                            			<th:block th:each="division : ${division}">
		                            				<li class="division_slt_list" onclick="selectOpt(this);"><span th:data-value="${division.division_id}" th:text="${division.division}"></span></li>
		                            			</th:block>
		                            		</ul>
		                            	</div>
     									<!-- <select class="form-control b-light" name="division_slt" id="division_slt">
			                                <option value="0" disabled="disabled" selected="selected" hidden="hidden">작목명을 선택하세요</option>
			                                <th:block th:each="division : ${division}">
			                                	<option th:value="${division.division_id}" th:text="${division.division}"></option>
			                                </th:block>
		                            	</select> -->
     								</div>
     								<div class="col-md-6 d-flex" id="division_col">
	     								<div class="col-md-4 mb-25 d-flex aling-items-center">
	   										<label class="color-dark fw-500 align-center mt-1 genetic_title">품종</label>
	   									</div>
	     								<div class="col-md-8 mb-25">
	     									<div class="select" style="height: auto;">
			                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control genetic_input" id="genetic_input" placeholder="품종 선택" autocomplete="off">
			                            		<ul class="select-hide">
			                            			
			                            		</ul>
			                            	</div>
	     									<!-- <select class="form-control b-light genetic_input">
				                                <option value="0">품종명을 선택하세요</option>
			                            	</select> -->
	     								</div>
     								</div>
     								<div class="col-md-6 d-flex" id="genetic_col">
	     								<div class="col-md-4 mb-25 d-flex aling-items-center">
	   										<label class="color-dark fw-500 align-center mt-1 genetic_title">유전자원명</label>
	   									</div>
	     								<div class="col-md-8 mb-25">
	     									<div class="select" style="height: auto;">
			                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control genetic_input" id="genetic_input" placeholder="유전자원명 선택" autocomplete="off">
			                            		<ul class="select-hide">
			                            			
			                            		</ul>
			                            	</div>
	     									<!-- <select class="form-control b-light genetic_input">
				                                <option value="0">유전자원명을 선택하세요</option>
			                            	</select> -->
	     								</div>
     								</div>
     								<div class="col-md-6 d-flex" id="etc_col">
	     								<div class="col-md-4 mb-25 d-flex aling-items-center">
	   										<label class="color-dark fw-500 align-center mt-1 genetic_title" style="align-items: self-start">기타</label>
	   									</div>
	     								<div class="col-md-8 mb-25" id="etc_inner_col">
	     									<div class="select" style="height: auto;">
			                            		<input type="text" onkeyup="textfilter(this);" onclick="selectFilter(this);" name="select-input" data-select="" class="form-control genetic_input" id="genetic_input" placeholder="기타 선택" autocomplete="off">
			                            		<ul class="select-hide">
			                            			
			                            		</ul>
			                            	</div>
	     									<!-- <select class="form-control b-light genetic_input">
				                                <option value="0">기타를 선택하세요</option>
			                            	</select> -->
	     								</div>
     								</div>
				            	</div>
				            	<div class="button-group d-flex justify-content-end">
				                   <button class="btn btn-primary btn-default btn-squared input_btn" onclick="useGenetic();">사용</button>
				           		</div>
			            	</div>
			            </div>
			        </div>
			    </div>
			</div>
		    <!-- ends: 품종/유전정보 선택 modal -->
     
     	</div>
     
     </main>
     
     <!-- 공통 하단 -->
    <th:block th:include="/../fragments/footer.html"></th:block>
    <!-- 공통 js -->
    <th:block th:include="/../fragments/commonjs.html"></th:block>

<script type="text/javascript">
	
	
	let selectInputEls = document.querySelectorAll('input[name="select-input"]');
	let select_this;
	let select_prev;
	let select_id;
	
	function selection(){
		if(document.getSelection){
			var selection = document.getSelection();
			
			if(selection.focusNode != null){
				if(selection.focusNode.children != undefined){
					var length = selection.focusNode.children.length;
					if(length != 0){
						var check = selection.focusNode.children[0].name;
						var check2 = selection.focusOffset;
						if(check == "select-input" && check2 == "1"){
							selectFilter(selection.focusNode.children[0]);
						}
					}
				}
			}
			
		}
	}
	
	function selectFilter(e){
		
		var selection = document.getSelection();
		
		select_prev = select_this;
		select_this = e;
		select_id = e.id;
		
		let selectOptionWrapEls = document.querySelectorAll('.select ul');
		
		var currTarget = e;
		var delOption = currTarget.nextElementSibling;
		
		for(var i = 0 ; i < selectOptionWrapEls.length; i++){
			
			if(selectOptionWrapEls[i].classList.contains("select-show")){
				selectOptionWrapEls[i].classList.add('select-hide');
				selectOptionWrapEls[i].classList.remove('select-show');
			}
		}
		
		if(delOption.classList.contains('select-hide')){
			delOption.classList.remove('select-hide');
			delOption.classList.add('select-show');
		}
		
	}
	
	let body = document.querySelector('body');
	function hideSelect(e){
		
		let selectOptionWrapEls = document.querySelectorAll('.select ul');
		var target = e.target.name;
		
		if(target == "select-input"){
			if(select_prev != undefined && select_this != select_prev){
				var prev_attr = select_prev.getAttribute("value");
				var prev_text = select_prev.value;
				if(prev_attr != prev_text){
					select_prev.value = prev_attr;
					var prev_textEl = select_prev.parentNode.children[1].children;
					
					for(var i = 0; i < prev_textEl.length; i++){
						prev_textEl[i].style.display = "flex";
					}
					
					var textEl = select_this.parentNode.children[1].children;
					
					for(var i = 0; i < textEl.length; i++){
						textEl[i].style.display = "flex";
					}
				}
			}
		}
		
		if(target != "select-input"){
			if(select_this != undefined && select_this.value != null){
				var select_attr = select_this.getAttribute("value");
				var select_text = select_this.value;
				
				if(select_attr != select_text && select_this.id == select_id){
					select_this.value = select_attr;
					
					var textEl = select_this.parentNode.children[1].children;
					
					for(var i = 0; i < textEl.length; i++){
						textEl[i].style.display = "flex";
					}
				}
			}
			
			for(var i = 0 ; i < selectOptionWrapEls.length; i++){
				
				if(selectOptionWrapEls[i].classList.contains("select-show")){
					selectOptionWrapEls[i].classList.add('select-hide');
					selectOptionWrapEls[i].classList.remove('select-show');
				}
			}
		}
	}
	body.addEventListener('click',hideSelect);
	body.addEventListener('click', selection);
	
	/* 옵션선택 */
	function selectOpt(e){
	    var dataSelect = $(e).children().attr("data-value");
	    var text = $(e).children().text();
	    $(e).parent().prev().attr("data-select", dataSelect);
	    $(e).parent().prev().attr("value", text);
	    $(e).parent().attr("class", "select-hide");
	    
	    select_text = text;
	    select_data = dataSelect;
	    
	    //저장장소에 따른 저장 조건 데이터 노출
	    var condition = $(e).children().attr("data-condition");
	    if(condition != 'undefined'){
	    	$(e).parent().parent().parent().next().next().children().val(condition);
	    }
	    
	    var division_slt = e.parentNode.previousElementSibling;
	    var division_slt_id = division_slt.id;
	    //품종/유전정보 선택 모달 작목 ajax 이벤트
	    if(division_slt_id == "division_slt"){
	    	
	    	var division_id = dataSelect;
	    	var genetic_type = $("input:radio[name=radio]:checked").val();
	    	
	    	var data = {"division_id" : division_id, "genetic_type" : genetic_type};
	    	
	    	$.ajax({
				url : "/data/seed/selectGenetic",
				method : "POST",
				dataType : "json",
				data : data,
				success : function(genetic){
					
					var genetic_input = $(".genetic_input").next();
					var add_list = "";
					
					$(".genetic_input").attr("data-select", "");
					$(".genetic_input").val("");
					
					for(var i = 0; i < genetic.length; i++){
						add_list += '<li class="genetic_input_list" onclick="selectOpt(this);">';
						add_list += '<span data-value="'+genetic[i].genetic_id+'">'+genetic[i].genetic+'</span>';
						add_list += '</li>';
					}//end for
					
					if($("input:radio[name=radio]:checked").val() == 2){
						add_list += '<li class="genetic_input_list" onclick="selectOpt(this);">';
						add_list += '<span data-value="etc">신규입력</span>';
						add_list += '</li>';
					}
					
					genetic_input.empty();
					genetic_input.append(add_list);
					
				}//end success
			});//end ajax */
	    	
	    }
	    
	    //품종 유전정보 기타 신규입력 선택시
	    if(dataSelect == "etc"){
			var etc_inner_col = $("#etc_inner_col");
			
			var str = '<input type="text" class="form-control" id="etc_input" style="margin-top: 10px;">';
			etc_inner_col.append(str);
	    }
	    
	    
	}//end 옵션 선택
	
	//필터 함수
	function textfilter(e){
		
		var search = $(e).val().toLowerCase();
		var className = $(e).next().children().eq(0).attr('class');
		
		var textEl = $(e).next().children();
		
		for(var i = 0; i < textEl.length; i++){
			var text = textEl[i].children[0].innerText;
			if(text.toLowerCase().includes(search)){
				textEl[i].style.display = "flex";
			}else{
				textEl[i].style.display = "none";
			}
		}
		
	}//end 필터 함수

	var this_1;
	
	var division_col = $("#division_col");
	var genetic_col = $("#genetic_col");
	var etc_col = $("#etc_col");
	
	var division_row = $("#division_row");
	
	var col_arr = new Array();
	col_arr[0] = division_col;
	col_arr[1] = genetic_col;
	col_arr[2] = etc_col;
	
	//품종, 유전정보 모달에서 선택박스 선택 이벤트
	$("input:radio[name=radio]").on("change", function(){
		//$("#division_slt").val(0).prop("selected",true);
		//$(".genetic_input").val(0).prop("selected",true);
		if($("#division_radio").is(':checked')){
			genetic_col.remove();
			etc_col.remove();
			var str = col_arr[0];
			division_row.append(str);
		}else if($("#genetic_radio").is(':checked')){
			division_col.remove();
			etc_col.remove();
			var str = col_arr[1];
			division_row.append(str);
		}else if($("#etc_radio").is(':checked')){
			genetic_col.remove();
			division_col.remove();
			var str = col_arr[2];
			division_row.append(str);
		}
		$("#division_slt").attr("data-select", "");
		$("#division_slt").val("");
		$(".genetic_input").attr("data-select", "");
		$(".genetic_input").val("");
	});//end 품종, 유전정보 선택 이벤트
	
	//품종/유전정보 모달에서 기타 > 신규입력 선택 이벤트
	/* $(document).on("change", ".genetic_input", function(){
		
		var check = $(this).find("option:selected").val();
		if(check == "etc"){
			var etc_inner_col = $("#etc_inner_col");
			
			var str = '<input type="text" class="form-control" id="etc_input" style="margin-top: 10px;">';
			etc_inner_col.append(str);
		}
		
	}); */
	
	//작목명 선택할때 마다 품종 리스트 변경
	/* $("#division_slt").on("change", function(){
		var division_id = $(this).val();
		var genetic_type = $("input:radio[name=radio]:checked").val();
		var data = {"division_id" : division_id, "genetic_type" : genetic_type};
		
		$.ajax({
			url : "/data/seed/selectGenetic",
			method : "POST",
			dataType : "json",
			data : data,
			success : function(genetic){
				
				var genetic_input = $(".genetic_input");
				var add_list = "";
				
				if($("input:radio[name=radio]:checked").val() == 0){
					add_list += '<option value="0">'+'품종명을 선택하세요'+'</option>';
				}else if($("input:radio[name=radio]:checked").val() == 1){
					add_list += '<option value="0">'+'유전자원명을 선택하세요'+'</option>';
				}else if($("input:radio[name=radio]:checked").val() == 2){
					add_list += '<option value="0">'+'기타를 선택하세요'+'</option>';
				}
				
				
				for(var i = 0; i < genetic.length; i++){
					add_list += '<option value="' + genetic[i].genetic_id + '">' + genetic[i].genetic + '</option>';
				}//end for
				
				if($("input:radio[name=radio]:checked").val() == 2){
					add_list += '<option value="etc">'+'신규입력'+'</option>';
				}
				
				genetic_input.empty();
				genetic_input.append(add_list);
				
			}//end success
		});//end ajax
		
	});//end 작목명 선택 이벤트 */
	
	//genetic etc 등록
	function insertGeneticEtc(){
		return new Promise(function(resolve){
			
			var genetic = $("#etc_input").val();
			var division_id = $("#division_slt").attr("data-select");
			
			var data = {
					"genetic" : genetic,
					"division_id" : division_id
			};
			
			$.ajax({
				url : "/data/seed/insertGeneticEtc",
				method : "POST",
				dataType : 'json',
				data : data,
				success : function(result){
					if(result == 0){
						
					}else{
						resolve(result);
					}
				}
			});//end ajax
			
		});//end return
	}//end insertReport
	
	//품종, 유전정보 사용 버튼 이벤트
	function useGenetic(){
		/* var str1 = $("#division_slt option:selected").text(); */
		var str1 = $("#division_slt").val();
		var str2 = $(".genetic_input").val();
		var selectData = $(".genetic_input").attr("data-select");
		
		if(selectData == ""){
			alert("품종/유전정보를 선택해주세요");
		}else if(selectData == "etc" && $("#etc_input").val() == ""){
			alert("기타를 입력해 주세요");
		}else{
			
			if(selectData == "etc"){
				
				
				insertGeneticEtc().then(function(result){
					
					if(result == 0){
						
					}else{
						str2 = $("#etc_input").val();
						var str = str1 + " > " + str2;
						
						this_1.val(str);
						var genetic_id = result;
						this_1.attr('data-genetic-id', result);
						
						$("#geneticModal").modal("hide");
					}
					
				});
				
			}else{
				var str = str1 + " > " + str2;
				
				this_1.val(str);
				var genetic_id = selectData;
				this_1.attr('data-genetic-id', genetic_id);
				
				$("#geneticModal").modal("hide");
			}//end else
				
		}//end else
		
	}
	
	//품종, 유전자정보 모달 show
	$(document).on("click", ".genetic_show", function(){
		$("#division_radio").prop("checked", true);
		//$("#division_slt").val(0).prop("selected",true);
		//$(".genetic_input").val(0).prop("selected",true);
		$("#division_slt").attr("data-select", "");
		$("#division_slt").val("");
		$(".genetic_input").attr("data-select", "");
		$(".genetic_input").val("");
		
		$("#geneticModal").modal("show");
		$("#etc_input").remove();
		var str = col_arr[0];
		division_row.append(str);
		genetic_col.remove();
		etc_col.remove();
		
		this_1 = $(this).prev();
		
	});
	
	//과제 비연계 이벤트
	$("#not_report").on("change", function(){
		if($("#not_report").is(':checked')){
			//$("#report_code").val("none").prop("selected", true);
			$("#report_code").prop("disabled", true);
			$("#report_code").attr("data-select", "");
			$("#report_code").val("");
		}else{
			$("#report_code").prop("disabled", false);
		}
	});
	
	//저장장소 선택에 따른 저장조건 이벤트
	/* $(document).on("change", ".ware_id", function(){
		ware_condition = $(this).find("option:selected").attr("data-condition");
		console.log(ware_condition);
		$(this).parent().parent().find(".ware_condition").val(ware_condition);
	}); */
	
	function loadSeedForm(){
		$("#seed_form").children(".form-standard").hide();
		var seed_form = $("#seed_form");
		var seed_form_inner = $("#seed_form").children(".form-standard").html();
		
		var str = "";																		// seed_form에 append 해줄 내용
		str += '<div class="card card-bordered copy-form-standard">';						// 실제 사용할 폼에 copy-form-standard 클래스 추가
		str += seed_form_inner;
		str += '</div>';
		
		seed_form.append(str);
	}
	
	loadSeedForm();
	
	//등록 폼 추가 이벤트
	$("#addseedFormBtn").on("click", function(){
		var seed_form = $("#seed_form");
		//var seed_form_inner = $("#seed_form").children(":first").html();
		var seed_form_inner = $("#seed_form").children(".form-standard").html();
		
		var str = "";
		str += '<div class="card card-bordered copy-form-standard">';
		str += seed_form_inner;
		str += '</div>';
		
		seed_form.append(str);
		
		//삭제 버튼 추가
		var delbtn = "";
		delbtn += '<button type="button" class="btn mt-25 mr-25 seed_form_del" style="background-color: red; color: white; width: 70px;">-</button>';
		
		del_btn_form = $("#seed_form").children(":last").find(".del_btn_div");
		del_btn_form.append(delbtn);
		
		//폼 추가 후 수확후 이용과 공유 값 초기화
		$("#seed_form").children(":last").find(".seed_share").val(0);
		
		//폼 추가 후 품종, 유전자원정보 th:data-genetic-id 삭제
		$("#seed_form").children(":last").find(".genetic_id").removeAttr("th:data-genetic-id");
		
		//동적 생성된 datepicker 클래스에 datepicker 이벤트 주기
		$(".send_date").each(function(index){
			if(index == 0){
				return true;
			}else{
				$(this).addClass("send-datepicker"+index);
				$(".ui-datepicker-trigger").remove();
				$(".send-datepicker"+index).removeClass("hasDatepicker").removeAttr("id").datepicker();
			}
		});
		
		$(".receive_date").each(function(index){
			if(index == 0){
				return true;
			}else{
				$(this).addClass("receive-datepicker"+index);
				$(".ui-datepicker-trigger").remove();
				$(".receive-datepicker"+index).removeClass("hasDatepicker").removeAttr("id").datepicker();
			}
		});
		
	});//end 등록 폼 추가 이벤트
	
	//동적으로 추가된 form 삭제 버튼 이벤트
	$(document).on("click", ".seed_form_del", function(){
		$(this).parent().parent().parent().parent().remove();
	});
	
	//수확후 이용과 공유 체크박스 이벤트
	$(document).on("change", ".seed_share", function(){
		if($(this).is(':checked')){
			$(this).val(1);
		}else{
			$(this).val(0);
		}
	});
	
	function checkData(){
		
		var validate = false;
		
		$(".copy-form-standard").each(function(index, item){
			
			if($("#report_code").val() == "" && $("#not_report").is(':checked') == false){
				alert("과제 또는 과제비연계를 선택해 주세요.");
				$("#report_code").focus();
				validate = false;
				return false;
			}else if($(this).find(".genetic_id").attr("data-genetic-id") == undefined){
				alert("품종/유전자 정보를 선택해주세요.");
				$(this).find(".genetic_id").focus();
				validate = false;
				return false;
			}else if($(this).find(".seed_manager").attr("data-select") == ""){
				alert("담당자를 선택해주세요.");
				$(this).find(".seed_manager").focus();
				validate = false;
				return false;
			}else if($.trim($(this).find(".seed_area").val()) == ""){
				alert("생산지역을 입력해주세요.");
				$(this).find(".seed_area").focus();
				validate = false;
				return false;
			}else if($.trim($(this).find(".seed_year").val()) == ""){
				alert("생산연도를 입력해주세요.");
				$(this).find(".seed_year").focus();
				validate = false;
				return false;
			}else if($.trim($(this).find(".seed_amount").val()) == ""){
				alert("수량을 입력해주세요.");
				$(this).find(".seed_amount").focus();
				validate = false;
				return false;
			}else if($(this).find(".eaches_id").attr("data-select") == ""){
				alert("단위를 선택해주세요.");
				$(this).find(".eaches_id").focus();
				validate = false;
				return false;
			}else if($(this).find(".ware_id").attr("data-select") == ""){
				alert("저장장소를 선택해주세요.");
				$(this).find(".ware_id").focus();
				validate = false;
				return false;
			}else{
				validate = true;
			}
				
		});//end $(".card-bordered").each
		
		return validate;
	}
	
	//시료 등록 버튼 함수
	function insertBtn(){
		
		var report_code = $("#report_code").attr("data-select");
		
		var validate = checkData();
		
		if(validate){
			
			if(report_code == ""){
				//과제 비연계시
				insertReport().then(function(result){
					if(result == 0){
						
					}else{
						report_code = result;
						insertData(report_code);
						
					}
				});//end insertReport().then
				
			}else{
				//과제 비연계 아닐 시
				insertData(report_code);
				
			}
			
		}
		
	}//end 시료 등록 버튼 함수
	
	//시료 등록 함수
	function insertData(report_code){
		
		var dataArr = new Array();
		
		//폼별로 값 가져오기 위한 each문
		$(".copy-form-standard").each(function(index, item){
			
			var data = {
					"seed_manager" : $(this).find(".seed_manager").attr("data-select"),
					"seed_area" : $.trim($(this).find(".seed_area").val()),
					"seed_year" : $.trim($(this).find(".seed_year").val()),
					"seed_method" : $.trim($(this).find(".seed_method").val()),
					"seed_amount" : $.trim($(this).find(".seed_amount").val()),
					"eaches_id" : $(this).find(".eaches_id").attr("data-select"),
					"seed_comment" : $.trim($(this).find(".seed_comment").val()),
					"genetic_id" : $(this).find(".genetic_id").attr("data-genetic-id"),
					"report_code" : report_code,
					"seed_report" : $.trim($("#seed_report").val()),
					"ware_id" : $(this).find(".ware_id").attr("data-select"),
					"seed_sender" : $.trim($(this).find(".seed_sender").val()),
					"send_date" : $.trim($(this).find(".send_date").val()),
					"seed_receiver" : $(this).find(".seed_receiver").attr("data-select"),
					"receive_date" : $.trim($(this).find(".receive_date").val()),
					"seed_share" : $(this).find(".seed_share").val()
					};
			
			dataArr.push(data);
				
		});//end $(".card-bordered").each
		
		$.ajax({
			url : "/data/seed/insertSeed",
			method : "POST",
			contentType : "application/json; charset=utf-8",
			data : JSON.stringify(dataArr),
			success : function(result){
				if(result == 0){
					
				}else {
					$("#success_popup").css("display", "flex");
				}
			}
		});//end ajax
		
	}//end 시료 등록 함수
	
	//과제 비연계시 과제 등록
	function insertReport(){
		return new Promise(function(resolve){
			
			$.ajax(
					{
						url : "/data/seed/insertReport",
						method : "GET",
						success : function(result){
							resolve(result);
						}//end success
						
					});//end ajax
			
		});//end return
	}//end insertReport
	
	//발송일자 datepicker
	$.datepicker.setDefaults({
		dateFormat: "yy-mm-dd",
      	duration: "medium",
      	changeMonth: true,
      	changeYear: true,
      	yearRange: "2010:2030",
	});
	
	//날짜 캘린더 동적 생성 다음주 와서 다시하기
	$(".send-datepicker0").datepicker();
	
	$(".receive-datepicker0").datepicker();
	
</script>

</body>

</html>